<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head.ejs") %>
        <link rel="stylesheet" href="/css/estilo-menu.css" />
        <%- include("../partials/letras.ejs") %>
    <title>Menú</title>
  </head>
  <body>
    <%- include("../partials/header.ejs") %>
    <main>
      <h1 id="title">INFARTATE CON NUESTRO MENÚ</h1>
      <ul class="navbar">
        <li class="lista">
          <a class="borrarlink" href="/menu#hamburguesas">HAMBURGUESAS</a>
        </li>
        <li class="lista">
          <a class="borrarlink" href="/menu#tapas">TAPAS</a>
        </li>
        <li class="lista">
          <a class="borrarlink" href="/menu#bebidas">BEBIDAS</a>
        </li>
        <li class="lista">
          <a class="borrarlink" href="/menu#combos">COMBOS DEL MES</a>
        </li>
      </ul>
      <h2 id="hamburguesas">HAMBURGUESAS</h2>

      <div class="contenedor-producto">
        <div class="subcontenedor-infoproducto">
          <h3>MONKEY BURGER</h3>
          <div>
            La Monkey Burger es una explosión de sabor que difícilmente puedas
            olvidar. La armamos con un increíble pan de papa horneado en el día
            y un medallón de carne angus y bondiola de 200gr. No puede faltar el
            cheddar, la cebolla caramelizada, los pepinillos agridulces y la
            salsa barbacoa caserita. El ingrediente secreto? La salsa Monkey!!
            Es apta para celíacos y viene con unas re papas!
          </div>
          <h4>$ 1.200</h4>
          <div class="contenedor-boton-hace-tu-pedido">
            <a class="boton-hace-tu-pedido" href="/haceTuPedido"
              >HACÉ TU PEDIDO</a
            >
          </div>
        </div>
        <img
          class="subcontenedor-fotoproducto"
          src="/img/menu/monkey1.jpg"
          alt="foto de Hamburguesa Monkey"
        />
      </div>

      <div class="contenedor-producto">
        <div class="subcontenedor-infoproducto info-a-la-derecha">
          <h3>GUENON BURGER</h3>
          <div>
            El mejor estilo francés en tu mesa! Te vamos a sorprender con un pan
            delicatessen de trigo y almendras recién sacado del horno y un
            medallón angus de 200gr al punto justo. También tendrás una
            explosión de sabor y texturas con un blend de 4 quesos (azul,
            reggianito, mozzarella y provolone) que completarán la experiencia.
            Lo infaltable en este sensacional plato? Unas cebollas caramelizadas
            para chuparse los dedos y papas fritas, obvio!
          </div>
          <h4>$ 1.000</h4>
          <div class="contenedor-boton-hace-tu-pedido">
            <a class="boton-hace-tu-pedido" href="/haceTuPedido"
              >HACÉ TU PEDIDO</a
            >
          </div>
        </div>
        <img
          class="subcontenedor-fotoproducto"
          src="/img/menu/guenon1.jpg"
          alt="foto de Hamburguesa Guenon"
        />
      </div>

      <div class="contenedor-producto">
        <div class="subcontenedor-infoproducto">
          <h3>SCIMMIA BURGER</h3>
          <div>
            Recientemente agregada al menú, esta hamburguesa viene para
            quedarse. Pan de masa madre horneando en el día y un medallón angus
            de 200gr. Siguiendo el mejor estilo mediterráneo, la acompañamos con
            tomates secos hidratados en vino blanco, rúcula orgánica y olivas
            negras. Todo esto con una increíble salsa de finas hierbas hecha por
            los cocineros genios de Monkey Burger. Y como no podía ser de otra
            maneras, la acompañamos con unas buenas papas fritas.
          </div>
          <h4>$ 980</h4>
          <div class="contenedor-boton-hace-tu-pedido">
            <a class="boton-hace-tu-pedido" href="/haceTuPedido"
              >HACÉ TU PEDIDO</a
            >
          </div>
        </div>
        <img
          class="subcontenedor-fotoproducto"
          src="/img/menu/scimmia1.jpg"
          alt="foto de Hamburguesa Scimmia"
        />
      </div>

      <div class="contenedor-producto">
        <div class="subcontenedor-infoproducto info-a-la-derecha">
          <h3>AFFE BURGER</h3>
          <div>
            La bomba alemana que no podía faltar en el menú. Pan de masa madre
            horneado en el día con un medallón de carnes angus de 200gr.
            Infaltable el chucrut casero de repollo blanco y la mostaza con
            granitos (una receta súper secreta de Monkey Burger). También vas a
            sentir el crunchy de la panceta recién tostada. La acompañamos con
            papas fritas, y por favor no te olvides de una buena cerveza para
            una digestión como corresponde.
          </div>
          <h4>$ 990</h4>
          <div class="contenedor-boton-hace-tu-pedido">
            <a class="boton-hace-tu-pedido" href="/haceTuPedido"
              >HACÉ TU PEDIDO</a
            >
          </div>
        </div>
        <img
          class="subcontenedor-fotoproducto"
          src="/img/menu/affe1.jpg"
          alt="foto de Hamburguesa Affe"
        />
      </div>

      <div class="contenedor-producto">
        <div class="subcontenedor-infoproducto">
          <h3>MACACO BURGER</h3>
          <div>
            Agridulce sí, agridulce no. Esa es la verdadera grieta! En esta
            opción para valientes te traemos una hamburguesa de carne angus de
            200gr en pan de masa madre horneado en el día. Agregamos mozzarella,
            tomates rescos, salsa Monkey, y el ingrediente estrella de este
            plato: ananá caramelizado a la plancha para que enloquezcas! Viene
            con papas? Obviamente viene con papas!
          </div>
          <h4>$ 1.100</h4>
          <div class="contenedor-boton-hace-tu-pedido">
            <a class="boton-hace-tu-pedido" href="/haceTuPedido"
              >HACÉ TU PEDIDO</a
            >
          </div>
        </div>
        <img
          class="subcontenedor-fotoproducto"
          src="/img/menu/macaco1.jpg"
          alt="foto de Hamburguesa Macaco"
        />
      </div>

      <div class="contenedor-producto">
        <div class="subcontenedor-infoproducto info-a-la-derecha">
          <h3>MONO BURGER</h3>
          <div>
            Para aquellos amantes de las tradiciones y nuestros exquisitos
            sabores locales, traemos una hamburguesa bien argenta para chuparse
            los dedos. Empezamos con pan de masa madre del día y un medallón de
            carne angus de 200gr. Sumamos lechuga, tomate, mozzarella, huevo
            frito, salsa Monkey, y finalizamos con una salsa criolla que
            difícilmente olvides. Viene con papas? Sí, señor! No pueden faltar
            las papas.
          </div>
          <h4>$ 900</h4>
          <div class="contenedor-boton-hace-tu-pedido">
            <a class="boton-hace-tu-pedido" href="/haceTuPedido"
              >HACÉ TU PEDIDO</a
            >
          </div>
        </div>
        <img
          class="subcontenedor-fotoproducto"
          src="/img/menu/mono1.jpg"
          alt="foto de Hamburguesa Mono"
        />
      </div>

      <h2 id="tapas">TAPAS</h2>
      <div class="contenedor-producto">
        <div class="subcontenedor-infoproducto">
          <h3>PAPAS MONKEY</h3>
          <div>
            Las Papas Monkey son básicamente las reinas del tapeo en Monkey
            Burger. Por qué? Porque simplemente son todo lo que está bien a la
            hora de picar algo, compartir con amigos y tomar una birra. Son
            papas cortadas a mano y fritas en el momento, con una salsa de 4
            quesos frescos (cheddar, reggianito, mozzarella y provolone), verdeo
            y panceta salteados. Las acompañan la tremenda salsa Monkey,
            barbacoa casera y criolla.
          </div>
          <h4>$ 700</h4>
          <div class="contenedor-boton-hace-tu-pedido">
            <a class="boton-hace-tu-pedido" href="/haceTuPedido"
              >HACÉ TU PEDIDO</a
            >
          </div>
        </div>
        <img
          class="subcontenedor-fotoproducto"
          src="/img/menu/papas1.jpg"
          alt="foto de Papas Monkey"
        />
      </div>
      <div class="contenedor-producto">
        <div class="subcontenedor-infoproducto info-a-la-derecha">
          <h3>MONKEY ONIONS</h3>
          <div>
            Sin lugar a dudas, los mejores aritos de cebolla del país están en
            Monkey Burger. Lo hacemos con un mix de cebollas moradas y blancas,
            y las rebozamos en panco. Sí, sí! Para rechuparse los dedos! Vienen
            acompañadas con salsa Monkey, barbacoa casera y criolla. Ideal para
            que piquen 4 o coman 2. Un recomendación? Quedan increíbles con la
            birra Weisse de Patagonia, fíjate en la sección de Bebidas!
          </div>
          <h4>$ 1.000</h4>
          <div class="contenedor-boton-hace-tu-pedido">
            <a class="boton-hace-tu-pedido" href="/haceTuPedido"
              >HACÉ TU PEDIDO</a
            >
          </div>
        </div>
        <img
          class="subcontenedor-fotoproducto"
          src="/img/menu/aros1.jpg"
          alt="foto de Aros de Cebolla"
        />
      </div>
      <div class="contenedor-producto">
        <div class="subcontenedor-infoproducto">
          <h3>MOZZA MONKEY</h3>
          <div>
            No podia faltar una opción de quesos en las tapas de Monkey Burger,
            no? Por eso traemos estos dados de mozzarella empanizados con panco
            y fritos en el momento para que tu encuentro con amigos sea más que
            ideal. Los recibirás acompañadas con salsa Monkey, barbacoa casera y
            criolla. La porción es ideal para 3 personas, aunque seguramente van
            a pedir una segunda vuelta porque son una locura!
          </div>
          <h4>$ 1.100</h4>
          <div class="contenedor-boton-hace-tu-pedido">
            <a class="boton-hace-tu-pedido" href="/haceTuPedido"
              >HACÉ TU PEDIDO</a
            >
          </div>
        </div>
        <img
          class="subcontenedor-fotoproducto"
          src="/img/menu/mozza1.jpg"
          alt="foto de Mozzarelas"
        />
      </div>
      <h2 id="bebidas">BEBIDAS</h2>
      <div class="bebidas">
        <div class="contenedor-bebida">
          <img
            class="foto-bebida"
            src="/img/menu/logo-bonaqua-sin-gas.jpg"
            alt="logo Bonaqua sin gas"
          />
          <div class="info-bebidas">
            <h3>AGUA SIN GAS - BON AQUA - 500ML</h3>
            <div class="precio-boton-bebidas">
              <h4>$ 250</h4>
              <div class="contenedor-boton-hace-tu-pedido">
                <a class="boton-hace-tu-pedido" href="/haceTuPedido"
                  >HACÉ TU PEDIDO</a
                >
              </div>
            </div>
          </div>
        </div>

        <div class="contenedor-bebida">
          <img
            class="foto-bebida"
            src="/img/menu/logo-bonaqua-con-gas.jpg"
            alt="logo Bonaqua con gas"
          />
          <div class="info-bebidas">
            <h3>AGUA CON GAS - BON AQUA - 500ML</h3>
            <div class="precio-boton-bebidas">
              <h4>$ 250</h4>
              <div class="contenedor-boton-hace-tu-pedido">
                <a class="boton-hace-tu-pedido" href="/haceTuPedido"
                  >HACÉ TU PEDIDO</a
                >
              </div>
            </div>
          </div>
        </div>

        <div class="contenedor-bebida">
          <img
            class="foto-bebida"
            src="/img/menu/logo-cocacola.jpg"
            alt="logo Cocacola"
          />
          <div class="info-bebidas">
            <h3>COCA COLA - 500ML</h3>
            <div class="precio-boton-bebidas">
              <h4>$ 250</h4>
              <div class="contenedor-boton-hace-tu-pedido">
                <a class="boton-hace-tu-pedido" href="/haceTuPedido"
                  >HACÉ TU PEDIDO</a
                >
              </div>
            </div>
          </div>
        </div>

        <div class="contenedor-bebida">
          <img
            class="foto-bebida"
            src="/img/menu/logo-cocazero.jpg"
            alt="logo Cocacola Zero"
          />
          <div class="info-bebidas">
            <h3>COCA-COLA ZERO - 500ML</h3>
            <div class="precio-boton-bebidas">
              <h4>$ 250</h4>
              <div class="contenedor-boton-hace-tu-pedido">
                <a class="boton-hace-tu-pedido" href="/haceTuPedido"
                  >HACÉ TU PEDIDO</a
                >
              </div>
            </div>
          </div>
        </div>

        <div class="contenedor-bebida">
          <img
            class="foto-bebida"
            src="/img/menu/logo-sprite.jpg"
            alt="logo Sprite"
          />
          <div class="info-bebidas">
            <h3>SPRITE - 500ML</h3>
            <div class="precio-boton-bebidas">
              <h4>$ 250</h4>
              <div class="contenedor-boton-hace-tu-pedido">
                <a class="boton-hace-tu-pedido" href="/haceTuPedido"
                  >HACÉ TU PEDIDO</a
                >
              </div>
            </div>
          </div>
        </div>

        <div class="contenedor-bebida">
          <img
            class="foto-bebida"
            src="/img/menu/logo-sprite-zero.jpg"
            alt="logo Sprite Zero"
          />
          <div class="info-bebidas">
            <h3>SPRITE ZERO - 500ML</h3>
            <div class="precio-boton-bebidas">
              <h4>$ 250</h4>
              <div class="contenedor-boton-hace-tu-pedido">
                <a class="boton-hace-tu-pedido" href="/haceTuPedido"
                  >HACÉ TU PEDIDO</a
                >
              </div>
            </div>
          </div>
        </div>

        <div class="contenedor-bebida">
          <img
            class="foto-bebida"
            src="/img/menu/logo-amber-lagger.jpg"
            alt="logo Amber Lager"
          />
          <div class="info-bebidas">
            <h3>AMBER LAGER - PATAGONIA - 410ML</h3>
            <div class="precio-boton-bebidas">
              <h4>$ 350</h4>
              <div class="contenedor-boton-hace-tu-pedido">
                <a class="boton-hace-tu-pedido" href="/haceTuPedido"
                  >HACÉ TU PEDIDO</a
                >
              </div>
            </div>
          </div>
        </div>

        <div class="contenedor-bebida">
          <img
            class="foto-bebida"
            src="/img/menu/logo-weisse.jpg"
            alt="logo Weisse"
          />
          <div class="info-bebidas">
            <h3>WEISSE - PATAGONIA - 410ML</h3>
            <div class="precio-boton-bebidas">
              <h4>$ 350</h4>
              <div class="contenedor-boton-hace-tu-pedido">
                <a class="boton-hace-tu-pedido" href="/haceTuPedido"
                  >HACÉ TU PEDIDO</a
                >
              </div>
            </div>
          </div>
        </div>

        <div class="contenedor-bebida">
          <img
            class="foto-bebida"
            src="/img/menu/logo-pilsener.jpg"
            alt="logo Pilsener"
          />
          <div class="info-bebidas">
            <h3>BOHEMIAN PILSENER - PATAGONIA - 410ML</h3>
            <div class="precio-boton-bebidas">
              <h4>$ 350</h4>
              <div class="contenedor-boton-hace-tu-pedido">
                <a class="boton-hace-tu-pedido" href="/haceTuPedido"
                  >HACÉ TU PEDIDO</a
                >
              </div>
            </div>
          </div>
        </div>

        <div class="contenedor-bebida">
          <img
            class="foto-bebida"
            src="/img/menu/logo-hoppy-lagger.jpg"
            alt="logo Hoppy Lager"
          />
          <div class="info-bebidas">
            <h3>HOPPY LAGER - PATAGONIA</h3>
            <div class="precio-boton-bebidas">
              <h4>$ 350</h4>
              <div class="contenedor-boton-hace-tu-pedido">
                <a class="boton-hace-tu-pedido" href="/haceTuPedido"
                  >HACÉ TU PEDIDO</a
                >
              </div>
            </div>
          </div>
        </div>

        <div class="contenedor-bebida">
          <img
            class="foto-bebida"
            src="/img/menu/logo-km24.jpg"
            alt="logo km24"
          />
          <div class="info-bebidas">
            <h3>KM 24.7 - PATAGONIA - 410ML</h3>
            <div class="precio-boton-bebidas">
              <h4>$ 350</h4>
              <div class="contenedor-boton-hace-tu-pedido">
                <a class="boton-hace-tu-pedido" href="/haceTuPedido"
                  >HACÉ TU PEDIDO</a
                >
              </div>
            </div>
          </div>
        </div>

        <div class="contenedor-bebida">
          <img
            class="foto-bebida"
            src="/img/menu/logo-kune.jpg"
            alt="logo Kune"
          />
          <div class="info-bebidas">
            <h3>KÜNE - PATAGONIA - 410ML</h3>
            <div class="precio-boton-bebidas">
              <h4>$ 350</h4>
              <div class="contenedor-boton-hace-tu-pedido">
                <a class="boton-hace-tu-pedido" href="/haceTuPedido"
                  >HACÉ TU PEDIDO</a
                >
              </div>
            </div>
          </div>
        </div>

        <div class="contenedor-bebida">
          <img
            class="foto-bebida"
            src="/img/menu/logo-porter.jpg"
            alt="logo Porter"
          />
          <div class="info-bebidas">
            <h3>PORTER - PATAGONIA - 410ML</h3>
            <div class="precio-boton-bebidas">
              <h4>$ 350</h4>
              <div class="contenedor-boton-hace-tu-pedido">
                <a class="boton-hace-tu-pedido" href="/haceTuPedido"
                  >HACÉ TU PEDIDO</a
                >
              </div>
            </div>
          </div>
        </div>

        <div class="contenedor-bebida">
          <img
            class="foto-bebida"
            src="/img/menu/logo-ipa.jpg"
            alt="logo Ipa"
          />
          <div class="info-bebidas">
            <h3>VERA IPA - PATAGONIA - 420ML</h3>
            <div class="precio-boton-bebidas">
              <h4>$ 350</h4>
              <div class="contenedor-boton-hace-tu-pedido">
                <a class="boton-hace-tu-pedido" href="/haceTuPedido"
                  >HACÉ TU PEDIDO</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>

      <h2 id="combos">COMBOS DEL MES</h2>
      <div class="contenedor-producto">
        <div class="subcontenedor-infoproducto info-a-la-derecha">
          <h3>COMBO BANANA</h3>
          <div>
            Son 4 amigos de buen comer? No se diga más! En Monkey Burger nos
            aseguramos de que se alimenten como corresponde. El Combo Banana
            incluye 4 Monkey Burgers con sus respectivas papas, 1 porción de
            Monkey Onions, 1 porción de Papas Monkey y 4 latas de birra
            Patagonia Amber Lager. Porque panza llena, corazón contento! No sé,
            vos me dirás después de llevarte este combo.
          </div>
          <h4>$ 6.500</h4>
          <div class="contenedor-boton-hace-tu-pedido">
            <a class="boton-hace-tu-pedido" href="/haceTuPedido"
              >HACÉ TU PEDIDO</a
            >
          </div>
        </div>
        <img
          class="subcontenedor-fotoproducto"
          src="/img/menu/combobanana1.jpg"
          alt="foto combo Banana"
        />
      </div>
      <div class="contenedor-producto">
        <div class="subcontenedor-infoproducto">
          <h3>COMBO PALMERA</h3>
          <div>
            Este mes llegó el Combo Palmera para esos grupos de amigos donde no
            es fácil ponerse de acuerdo. Por eso, incluimos 4 hamburguesas a
            elección con sus respectivas papas (Monkey, Guenon, Scimmia, Affe,
            Macaco o Mono) y 4 latas de birra Patagonia también a elección
            (Amber Lager, Weisse, Boemian Pilsener, Hoppy Lager, KM 24.7, Kune,
            Porter o Vera IPA). Y no me digas que no te damos opciones!
          </div>
          <h4>$ 5.200</h4>
          <div class="contenedor-boton-hace-tu-pedido">
            <a class="boton-hace-tu-pedido" href="/haceTuPedido"
              >HACÉ TU PEDIDO</a
            >
          </div>
        </div>
        <img
          class="subcontenedor-fotoproducto"
          src="/img/menu/combopalmera1.jpg"
          alt="foto combo Palmera"
        />
      </div>
      <div class="contenedor-producto">
        <div class="subcontenedor-infoproducto info-a-la-derecha">
          <h3>COMBO MONITA</h3>
          <div>
            Este combo nos vuela la cabeza! Llevate 6 Mono Burgers con sus
            papas, 2 papas Monkey y 6 latas de birra Amber Lager de Patagonia
            con un descuento zarpado. Además, este mes nos volvimos locos y cada
            5 Combos Monita que preparamos, 1 se lleva unos Monkey Onions y 6
            birras Patagonia extras de regalo! Viste? Yo te dije que te volaba
            la cabeza!
          </div>
          <h4>$ 7.500</h4>
          <div class="contenedor-boton-hace-tu-pedido">
            <a class="boton-hace-tu-pedido" href="/haceTuPedido"
              >HACÉ TU PEDIDO</a
            >
          </div>
        </div>
        <img
          class="subcontenedor-fotoproducto"
          src="/img/menu/combomonita1.jpg"
          alt="foto combo Monita"
        />
      </div>
    </main>
    <%- include("../partials/footer.ejs") %> 
  </body>
</html>
