<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head.ejs") %>
    <%- include("../partials/letras.ejs") %>
    <title>Nuevo Producto</title>
    <link rel="stylesheet" href="/css/estilo-editproduct.css" />
  </head>

  <body>
    <%- include("../partials/header.ejs") %>
    <h1>NUEVO PRODUCTO</h1>
    <form action="" method="POST">
      <div class="editar-producto">
        <div class="campo">
          <label required>Categoría del producto:</label>
          <select class="campo-completar" name="categoria" required>
            <option value="hamburguesas">Hamburguesas</option>
            <option value="Tapas">Tapas</option>
            <option value="bebidas">Bebidas</option>
            <option value="combos">Combos</option>
          </select>
        </div>
        <div class="campo">
          <label for="nombre">Nombre:</label>
          <input
            class="campo-completar"
            type="text"
            name="nombre"
            id="nombre"
            placeholder="Ingresá el nombre"
            required
          />
        </div>
        <div class="campo">
          <label for="descripcion">Descripción:</label>
          <textarea
            class="campo-completar"
            name="descripcion"
            id="descripcion"
            placeholder="Descripción del nuevo producto"
            required
          >
          </textarea>
        </div>
        <div class="campo">
          <label for="precio">Precio:</label>
          <input
            class="campo-completar"
            type="text"
            name="precio"
            id="precio"
            placeholder="Ingreesá el precio"
            required
          />
        </div>
        <div class="campo">
          <label>Foto:</label>
          <input type="file" name="foto-producto" accept="image/*" required />
        </div>
        <div class="button-container">
          <div>
            <button class="button" type="submit">
              <h4><a href="">CREAR PRODUCTO</a></h4>
            </button>
          </div>
          <div class="campo">
            <label for="nombre">Nombre:</label>
            <input
              class="campo-completar"
              type="text"
              name="nombre"
              id="nombre"
              placeholder="Ingresá el nombre"
              required
            />
          </div>
          <div class="campo">
            <label for="descripcion">Descripción:</label>
            <textarea
              class="campo-completar"
              name="descripcion"
              id="descripcion"
              placeholder="Descripción del nuevo producto"
              required
            >
            </textarea>
          </div>
          <div class="campo">
            <label for="precio">Precio:</label>
            <input
              class="campo-completar"
              type="text"
              name="precio"
              id="precio"
              placeholder="Ingreesá el precio"
              required
            />
          </div>
          <div class="campo">
            <label>Foto:</label>
            <input type="file" name="foto-producto" accept="image/*" required />
          </div>
          <div class="button-container">
            <div>
              <button class="button" type="submit">
                <h4><a href="">CREAR PRODUCTO</a></h4>
              </button>
            </div>
            <div>
              <button class="button" type="reset">
                <h4><a href="">BORRAR TODO</a></h4>
              </button>
            </div>
          </div>
        </div>
<<<<<<< HEAD
      </form>
    </main>
=======
      </div>
    </form>
>>>>>>> segunda
    <%- include("../partials/footer.ejs") %>
  </body>
</html>
