<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head.ejs") %>
    <link rel="stylesheet" href="/css/estilo-producto.css" />
    <%- include("../partials/letras.ejs") %>
    <title>Producto</title>
  </head>
  <body>
    <%- include("../partials/header.ejs") %>
    <main>
      <h1>NOMBRE PRODUCTO ELEGIDO</h1>
      <div class="producto">
        <div class="foto-precio">
          <img
            class="foto"
            src="/img/producto/affe2.jpg"
            alt="Foto producto elegido"
          />
          <h3 class="precio">$ XXXX</h3>
        </div>
        <div class="info-producto">
          <div class="descripcion-producto">
            La bomba alemana que no podía faltar en el menú. Pan de masa madre
            horneado en el día con un medallón de carnes angus de 200gr.
            Infaltable el chucrut casero de repollo blanco y la mostaza con
            granitos (una receta súper secreta de Monkey Burger). También vas a
            sentir el crunchy de la panceta recién tostada. La acompañamos con
            papas fritas, y por favor no te olvides de una buena cerveza para
            una digestión como corresponde.
          </div>
          <div class="contenedor-unidades">
            <h3>Unidades</h3>
            <div class="selector-unidades">
              <div class="boton-mas-menos">-</div>
              <div class="visor-unidades">1</div>
              <div class="boton-mas-menos">+</div>
            </div>
          </div>
          <div class="contenedor-extras">
            <h3>Ingredientes Extras</h3>
            <div class="selector-extras">Elegir</div>
          </div>
          <div class="contenedor-notas">
            <h3>Notas del pedido</h3>
            <div class="selector-notas">Agregar</div>
          </div>
          <button class="boton-agregar-al-carrito">AGREGAR AL CARRITO</button>
        </div>
      </div>
    </main>
    <%- include("../partials/footer.ejs") %> 
  </body>
</html>
