<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/841275cf5f.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/contacto.css" />
  </head>
  <body>
    <header>
      <div class="cabecera-logo">
        <a href="/">
          <img
            src="/img/imagotipo-negro-fondo-transparente-inv3.png"
            alt="Logo"
            class="mobile"
          />
        </a>
        <a href="/">
          <img
            src="/img/Isotipo-amarillo-fondotransparente-inv3.png"
            alt="Logo"
            class="laptop"
          />
        </a>
      </div>
      <div class="cabecera-centro">
        <div class="marca">
          <h1 class="monkey">MONKEY BURGER</h1>
          <h3 class="gourmet">HAMBURGUESAS GOURMET</h3>
        </div>
        <div class="cabecera-barra">
          <nav class="barra-navegacion">
            <ul>
              <li>
                <h4><a href="nosotros">NOSOTROS</a></h4>
              </li>
              <li>
                <h4><a href="menu">MENÚ</a></h4>
              </li>
              <li>
                <h4><a href="haceTuPedido">HACE TU PEDIDO</a></h4>
              </li>
              <li>
                <h4><a href="contacto">CONTACTO</a></h4>
              </li>
            </ul>
          </nav>
        </div>
        <div class="cabecera-mobile">
          <a href="/"><i class="fa-solid fa-bars"></i></a>
        </div>
      </div>
      <div class="cabecera-derecha">
        <div class="usuario">
          <button class="boton">
            <h4><a href="login">INICIAR SESIÓN</a></h4>
          </button>
          <button class="boton">
            <h4><a href="register">CREAR CUENTA</a></h4>
          </button>
        </div>
        <div class="compra">
          <div class="carrito"><i class="fa-solid fa-cart-shopping"></i></div>
          <button class="boton">
            <h4><a href="productCart">CARRITO</a></h4>
          </button>
        </div>
      </div>
    </header>
    <main>
      <h1 class="contacto">CONTACTO</h1>
      <ul>
        <li class="input-nombre">
          <label for="nombre"></label>
          <input type="text" name="nombre" placeholder="Nombre" />
        </li>
        <li class="input-apellido">
          <label for="apellido"></label>
          <input type="text" name="apellido" placeholder="Apellido" />
        </li>
        <li class="input-email">
          <label for="email"></label>
          <input type="email" name="email" placeholder="Correo Electronico" />
        </li>
        <li class="input-telefono">
          <label for="telefono"></label>
          <input type="tel" name="telefono" placeholder="Teléfono" />
        </li>
        <li class="input-domicilio">
          <label for="domicilio"></label>
          <input type="text" name="domicilio" placeholder="Domicilio" />
        </li>
        <li class="input-asunto">
          <!-- <label for="asunto"></label> !-->
          <div>
            <select name="opciones" class="select-opciones">
              <option value="Problemas">Problemas</option>
              <option value="Problemas">Consultas</option>
              <option value="Problemas">Preguntas</option>
              <option value="Problemas">Mala Facturación</option>
              <option value="Problemas">El producto no llegó</option>
              <option value="Problemas">Otros</option>
            </select>
          </div>
          <!-- <input  type="text" name="asunto" placeholder="Asunto"></input> !-->
        </li>
        <li class="input-mensaje">
          <label for="mensaje"></label>
          <input type="text" name="Mensaje" placeholder="Mensaje" />
        </li>
      </ul>
      <div class="boton">
        <button type="submit" id="boton">Enviar</button>
      </div>
    </main>
    <footer>
      <!--Redes sociales-->
      <div class="pie-pagina">
        <p><i class="fa-brands fa-facebook"></i></p>
        <p><i class="fa-brands fa-instagram"></i></p>
        <p><i class="fa-brands fa-whatsapp"></i></p>
      </div>
      <!--Enlaces-->
      <div class="pie-pagina">
        <nav class="pie-navegacion">
          <ul>
            <li>
              <h5><a href="#">POLITICA</a></h5>
            </li>
            <li>
              <h5><a href="#">DEFENSA AL CONSUMIDOR</a></h5>
            </li>
            <li>
              <h5><a href="#">PROTECCION DE DATOS</a></h5>
            </li>
            <li>
              <h5><a href="#">CONTACTANOS</a></h5>
            </li>
          </ul>
        </nav>
      </div>
      <div class="desarrolladores"><p>Desarrolladores DH</p></div>
    </footer>
  </body>
</html>
