<!DOCTYPE html>
<HTML lang="en">
    <HEAD>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <script src="https://kit.fontawesome.com/841275cf5f.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="css/style.css"/> 
    </HEAD>
    <BODY>
        <header>
            <div>
                <img src="/public/img/logo/imagotipo-blanco-fondonegro.png" alt="logo"/> 
            </div>
            <div>
                <nav>
                    <ul>
                        <li>
                            <h4><a href="#">NOSOTROS</a></h4>
                        </li>
                        <li>
                            <h4><a href="#">MENÚ</a></h4>
                        </li>
                        <li>
                            <h4><a href="#">HACE TU PEDIDO</a></h4>
                        </li>
                        <li>
                            <h4><a href="#">CONTACTO</a></h4>
                        </li>
                    </ul>
                </nav>
            </div>
                <div>
                    <i class="fa-solid fa-cart-shopping"></i> 
                    <h4>CARRITO</h4>
                </div>
                <div>
                    <nav>
                        <ul>
                            <li>
                                <h4><a href="#"> INICIAR SESIÓN</a></h4>
                            </li>
                            <li>
                                <h4><a href="#">CREAR CUENTA</a></h4>
                            </li>
                        </ul>
                    </nav>
                </div>
        </header>
        <main>
            <h2>CONTACTO</h2>
            <ul>
                <li>
                    <p>Nombre</p>
                </li>
                <li>
                    <p>Apellido</p>
                </li>
                <li>
                    <p>Correo Electrónico</p>
                </li>
                <li>
                    <p>Teléfono</p>
                </li>
                <li>
                    <p>Domiclio</p>
                </li>
                <li>
                    <p>Asunto</p>
                </li>
                <li>
                    <p>Mensaje</p>
                </li>
            </ul>
            <h3>Enviar</h3>
        </main>
        <footer>
            <div>
              <p>Facebook</p>
              <p>Instagram</p>
              <p>Whatsapp</p>
            </div>
            <div>
              <nav>
                <ul>
                  <li>
                    <h4><a href="#">POLITICA</a></h4>
                  </li>
                  <li>
                    <h4><a href="#">DEFENSA AL CONSUMIDOR</a></h4>
                  </li>
                  <li>
                    <h4><a href="#">PROTECCION DE DATOS</a></h4>
                  </li>
                  <li>
                    <h4><a href="#">CONTACTANOS</a></h4>
                  </li>
                </ul>
              </nav>
            </div>
            <div><p>Desarrolladores DH</p></div>
    </footer>
    </BODY>
    </HTML>