<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/estilo-creatupedido.css" />
    <script
      src="https://kit.fontawesome.com/1f2014748d.js"
      crossorigin="anonymous"
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Antonio:wght@700&family=Josefin+Sans:ital@1&family=Lato:ital,wght@1,700&family=Sansita+Swashed:wght@400;800&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Antonio:wght@100;700&family=Josefin+Sans:ital@1&family=Lato:ital,wght@1,700&family=Sansita+Swashed:wght@400;800&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Antonio:wght@100;700&family=Josefin+Sans:ital@1&family=Lato:ital,wght@1,700&family=Marvel:wght@700&family=Sansita+Swashed:wght@400;800&display=swap"
      rel="stylesheet"
    />
    <title>Menú</title>
    <script
      src="https://kit.fontawesome.com/1f2014748d.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="icon" href="/img/icono.png" />
  </head>
  <body>
    <header>
      <div class="cabecera-logo">
        <a href="/">
          <img
            src="/img/imagotipo-negro-fondo-transparente-inv3.png"
            alt="Logo"
            class="mobile" />
          <img
            src="/img/Isotipo-amarillo-fondotransparente-inv3.png"
            alt="Logo"
            class="laptop"
        /></a>
      </div>
      <div class="cabecera-centro">
        <div class="marca">
          <h1 class="monkey">MONKEY BURGER</h1>
          <h3 class="gourmet">HAMBURGUESAS GOURMET</h3>
        </div>
        <div class="cabecera-barra">
          <nav class="barra-navegacion">
            <ul>
              <li>
                <h4><a href="nosotros">NOSOTROS</a></h4>
              </li>
              <li>
                <h4><a href="menu">MENÚ</a></h4>
              </li>
              <li>
                <h4><a href="haceTuPedido">HACE TU PEDIDO</a></h4>
              </li>
              <li>
                <h4><a href="contacto">CONTACTO</a></h4>
              </li>
            </ul>
          </nav>
        </div>
        <div class="cabecera-mobile">
          <a href="/"><i class="fa-solid fa-bars"></i></a>
        </div>
      </div>
      <div class="cabecera-derecha">
        <div class="usuario">
          <button class="boton">
            <h4><a href="login">INICIAR SESIÓN</a></h4>
          </button>
          <button class="boton">
            <h4><a href="register">CREAR CUENTA</a></h4>
          </button>
        </div>
        <div class="compra">
          <div class="carrito"><i class="fa-solid fa-cart-shopping"></i></div>
          <button class="boton">
            <h4><a href="productCart">CARRITO</a></h4>
          </button>
        </div>
      </div>
    </header>
    <main>
      <h1>HACÉ TU PEDIDO</h1>
      <ul class="navbar">
        <li class="lista">
          <a class="borrarlink" href="/haceTuPedido#hamburguesas"
            >HAMBURGUESAS</a
          >
        </li>
        <li class="lista">
          <a class="borrarlink" href="/haceTuPedido#tapas">TAPAS</a>
        </li>
        <li class="lista">
          <a class="borrarlink" href="/haceTuPedido#bebidas">BEBIDAS</a>
        </li>
        <li class="lista">
          <a class="borrarlink" href="/haceTuPedido#combos">COMBOS DEL MES</a>
        </li>
      </ul>
      <h2 id="hamburguesas">HAMBURGUESAS</h2>
      <div class="hamburguesas">
        <div class="contenedor-producto">
          <a href="/productdetail">
            <img
              class="fotoproducto"
              src="/img/menu/monkey1.jpg"
              alt="foto de Hamburguesa Monkey"
            />
          </a>
          <a href="/productdetail"><i class="fas fa-shopping-cart"></i> </a>
          <a href="/productdetail"><h3>MONKEY BURGER</h3></a>
          <h4>$ 1.200</h4>
        </div>

        <div class="contenedor-producto">
          <a href="/productdetail"
            ><img
              class="fotoproducto"
              src="/img/menu/guenon1.jpg"
              alt="foto de Hamburguesa Guenon"
            />
          </a>
          <a href="/productdetail"><i class="fas fa-shopping-cart"></i> </a>
          <a href="/productdetail"><h3>GUENON BURGER</h3></a>
          <h4>$ 1.000</h4>
        </div>

        <div class="contenedor-producto">
          <a href="/productdetail"
            ><img
              class="fotoproducto"
              src="/img/menu/scimmia1.jpg"
              alt="foto de Hamburguesa Scimmia"
            />
          </a>
          <a href="/productdetail"><i class="fas fa-shopping-cart"></i> </a>
          <a href="/productdetail"><h3>SCIMMIA BURGER</h3></a>
          <h4>$ 980</h4>
        </div>

        <div class="contenedor-producto">
          <a href="/productdetail"
            ><img
              class="fotoproducto"
              src="/img/menu/affe1.jpg"
              alt="foto de Hamburguesa Affe"
            />
          </a>
          <a href="/productdetail"><i class="fas fa-shopping-cart"></i> </a>
          <a href="/productdetail"><h3>AFFE BURGER</h3></a>
          <h4>$ 990</h4>
        </div>

        <div class="contenedor-producto">
          <a href="/productdetail"
            ><img
              class="fotoproducto"
              src="/img/menu/macaco1.jpg"
              alt="foto de Hamburguesa Macaco"
            />
          </a>
          <a href="/productdetail"><i class="fas fa-shopping-cart"></i> </a>
          <a href="/productdetail"><h3>MACACO BURGER</h3></a>
          <h4>$ 1.100</h4>
        </div>

        <div class="contenedor-producto">
          <a href="/productdetail"
            ><img
              class="fotoproducto"
              src="/img/menu/mono1.jpg"
              alt="foto de Hamburguesa Mono"
            /> </a
          ><a href="/productdetail"><i class="fas fa-shopping-cart"></i> </a>
          <a href="/productdetail"><h3>MONO BURGER</h3></a>
          <h4>$ 900</h4>
        </div>
      </div>
      <h2 id="tapas">TAPAS</h2>
      <div class="tapas">
        <div class="contenedor-producto">
          <a href="/productdetail"
            ><img
              class="fotoproducto"
              src="/img/menu/papas1.jpg"
              alt="foto de Papas Monkey"
            />
          </a>
          <a href="/productdetail"><i class="fas fa-shopping-cart"></i> </a>
          <a href="/productdetail"><h3>PAPAS MONKEY</h3></a>
          <h4>$ 700</h4>
        </div>
        <div class="contenedor-producto">
          <a href="/productdetail"
            ><img
              class="fotoproducto"
              src="/img/menu/aros1.jpg"
              alt="foto de Aros de Cebolla"
            />
          </a>
          <a href="/productdetail"><i class="fas fa-shopping-cart"></i> </a>
          <a href="/productdetail"><h3>MONKEY ONIONS</h3></a>
          <h4>$ 1.000</h4>
        </div>
        <div class="contenedor-producto">
          <a href="/productdetail"
            ><img
              class="fotoproducto"
              src="/img/menu/mozza1.jpg"
              alt="foto de Mozzarelas"
            />
          </a>
          <a href="/productdetail"><i class="fas fa-shopping-cart"></i> </a>
          <a href="/productdetail"><h3>MOZZA MONKEY</h3></a>
          <h4>$ 1.100</h4>
        </div>
      </div>
      <h2 id="bebidas">BEBIDAS</h2>
      <div class="bebidas">
        <div class="contenedor-producto">
          <a href="/productdetail"
            ><img
              class="fotoproducto"
              src="/img/menu/logo-bonaqua-sin-gas.jpg"
              alt="logo Bonaqua sin gas"
            />
          </a>
          <a href="/productdetail"><i class="fas fa-shopping-cart"></i> </a>
          <a href="/productdetail"><h3>AGUA SIN GAS - BON AQUA - 500ML</h3></a>
          <h4>$ 250</h4>
        </div>
        <div class="contenedor-producto">
          <a href="/productdetail"
            ><img
              class="fotoproducto"
              src="/img/menu/logo-bonaqua-con-gas.jpg"
              alt="logo Bonaqua con gas"
            />
          </a>
          <a href="/productdetail"><i class="fas fa-shopping-cart"></i> </a>
          <a href="/productdetail"><h3>AGUA CON GAS - BON AQUA - 500ML</h3></a>
          <h4>$ 250</h4>
        </div>
        <div class="contenedor-producto">
          <a href="/productdetail">
            <img
              class="fotoproducto"
              src="/img/menu/logo-cocacola.jpg"
              alt="logo Cocacola"
            />
          </a>
          <a href="/productdetail"><i class="fas fa-shopping-cart"></i> </a>
          <a href="/productdetail"><h3>COCA COLA - 500ML</h3></a>
          <h4>$ 250</h4>
        </div>
        <div class="contenedor-producto">
          <a href="/productdetail"
            ><img
              class="fotoproducto"
              src="/img/menu/logo-cocazero.jpg"
              alt="logo Cocacola Zero"
            />
          </a>
          <a href="/productdetail"><i class="fas fa-shopping-cart"></i> </a>
          <a href="/productdetail"><h3>COCA-COLA ZERO - 500ML</h3></a>
          <h4>$ 250</h4>
        </div>
        <div class="contenedor-producto">
          <a href="/productdetail"
            ><img
              class="fotoproducto"
              src="/img/menu/logo-sprite.jpg"
              alt="logo Sprite"
            />
          </a>
          <a href="/productdetail"><i class="fas fa-shopping-cart"></i> </a>
          <a href="/productdetail"><h3>SPRITE - 500ML</h3></a>
          <h4>$ 250</h4>
        </div>
        <div class="contenedor-producto">
          <a href="/productdetail"
            ><img
              class="fotoproducto"
              src="/img/menu/logo-sprite-zero.jpg"
              alt="logo Sprite Zero"
            />
          </a>
          <a href="/productdetail"><i class="fas fa-shopping-cart"></i> </a>
          <a href="/productdetail"><h3>SPRITE ZERO - 500ML</h3></a>
          <h4>$ 250</h4>
        </div>
        <div class="contenedor-producto">
          <a href="/productdetail"
            ><img
              class="fotoproducto"
              src="/img/menu/logo-amber-lagger.jpg"
              alt="logo Amber Lager"
            />
          </a>
          <a href="/productdetail"><i class="fas fa-shopping-cart"></i> </a>
          <a href="/productdetail"><h3>AMBER LAGER - PATAGONIA - 410ML</h3></a>
          <h4>$ 350</h4>
        </div>
        <div class="contenedor-producto">
          <a href="/productdetail"
            ><img
              class="fotoproducto"
              src="/img/menu/logo-weisse.jpg"
              alt="logo Weisse"
            />
          </a>
          <a href="/productdetail"><i class="fas fa-shopping-cart"></i> </a>
          <a href="/productdetail"><h3>WEISSE - PATAGONIA - 410ML</h3></a>
          <h4>$ 350</h4>
        </div>
        <div class="contenedor-producto">
          <a href="/productdetail"
            ><img
              class="fotoproducto"
              src="/img/menu/logo-pilsener.jpg"
              alt="logo Pilsener"
            />
          </a>
          <a href="/productdetail"><i class="fas fa-shopping-cart"></i> </a>
          <a href="/productdetail"
            ><h3>BOHEMIAN PILSENER - PATAGONIA - 410ML</h3></a
          >
          <h4>$ 350</h4>
        </div>
        <div class="contenedor-producto">
          <a href="/productdetail"
            ><img
              class="fotoproducto"
              src="/img/menu/logo-hoppy-lagger.jpg"
              alt="logo Hoppy Lager"
            />
          </a>
          <a href="/productdetail"><i class="fas fa-shopping-cart"></i> </a>
          <a href="/productdetail"><h3>HOPPY LAGER - PATAGONIA</h3></a>
          <h4>$ 350</h4>
        </div>
        <div class="contenedor-producto">
          <a href="/productdetail"
            ><img
              class="fotoproducto"
              src="/img/menu/logo-km24.jpg"
              alt="logo km24"
            />
          </a>
          <a href="/productdetail"><i class="fas fa-shopping-cart"></i> </a>
          <a href="/productdetail"><h3>KM 24.7 - PATAGONIA - 410ML</h3></a>
          <h4>$ 350</h4>
        </div>
        <div class="contenedor-producto">
          <a href="/productdetail"
            ><img
              class="fotoproducto"
              src="/img/menu/logo-kune.jpg"
              alt="logo Kune"
            />
          </a>
          <a href="/productdetail"><i class="fas fa-shopping-cart"></i> </a>
          <a href="/productdetail"><h3>KÜNE - PATAGONIA - 410ML</h3></a>
          <h4>$ 350</h4>
        </div>
        <div class="contenedor-producto">
          <a href="/productdetail"
            ><img
              class="fotoproducto"
              src="/img/menu/logo-porter.jpg"
              alt="logo Porter"
            />
          </a>
          <a href="/productdetail"><i class="fas fa-shopping-cart"></i> </a>
          <a href="/productdetail"><h3>PORTER - PATAGONIA - 410ML</h3></a>
          <h4>$ 350</h4>
        </div>
        <div class="contenedor-producto">
          <a href="/productdetail"
            ><img
              class="fotoproducto"
              src="/img/menu/logo-ipa.jpg"
              alt="logo Ipa"
            />
          </a>
          <a href="/productdetail"><i class="fas fa-shopping-cart"></i> </a>
          <a href="/productdetail"><h3>VERA IPA - PATAGONIA - 420ML</h3></a>
          <h4>$ 350</h4>
        </div>
      </div>

      <h2 id="combos">COMBOS DEL MES</h2>

      <div class="combos">
        <div class="contenedor-producto">
          <a href="/productdetail"
            ><img
              class="fotoproducto"
              src="/img/menu/combobanana1.jpg"
              alt="foto combo Banana"
            />
          </a>
          <a href="/productdetail"><i class="fas fa-shopping-cart"></i> </a>
          <a href="/productdetail"><h3>COMBO BANANA</h3></a>
          <h4>$ 6.500</h4>
        </div>
        <div class="contenedor-producto">
          <a href="/productdetail"
            ><img
              class="fotoproducto"
              src="/img/menu/combopalmera1.jpg"
              alt="foto combo Palmera"
            />
          </a>
          <a href="/productdetail"><i class="fas fa-shopping-cart"></i> </a>
          <a href="/productdetail"><h3>COMBO PALMERA</h3></a>
          <h4>$ 5.200</h4>
        </div>
        <div class="contenedor-producto">
          <a href="/productdetail"
            ><img
              class="fotoproducto"
              src="/img/menu/combomonita1.jpg"
              alt="foto combo Monita"
            />
          </a>
          <a href="/productdetail"><i class="fas fa-shopping-cart"></i> </a>
          <a href="/productdetail"><h3>COMBO MONITA</h3></a>
          <h4>$ 7.500</h4>
        </div>
      </div>
    </main>
    <footer>
      <!--Redes sociales-->
      <div class="pie-pagina">
        <p><i class="fa-brands fa-facebook"></i></p>
        <p><i class="fa-brands fa-instagram"></i></p>
        <p><i class="fa-brands fa-whatsapp"></i></p>
      </div>
      <!--Enlaces-->
      <div class="pie-pagina">
        <nav class="pie-navegacion">
          <ul>
            <li>
              <h5><a href="#">POLITICA</a></h5>
            </li>
            <li>
              <h5><a href="#">DEFENSA AL CONSUMIDOR</a></h5>
            </li>
            <li>
              <h5><a href="#">PROTECCION DE DATOS</a></h5>
            </li>
            <li>
              <h5><a href="#">CONTACTANOS</a></h5>
            </li>
          </ul>
        </nav>
      </div>
      <div class="desarrolladores"><p>Desarrolladores DH</p></div>
    </footer>
  </body>
</html>
