<!DOCTYPE html>
<html lang="en">
  <!--Cabecera de la página principal e inicio-->
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Bienvenidos a Monkey Burger</title>
    <link rel="icon" href="/img/icono.png" />
  </head>
  <!--Cuerpo del archivo html correspondiente al inicio del e-commerce-->
  <body style="background-color: lightgray">
    <!--Encabezado de la página web.
    En este espacio deberá colocarse: 
    - El logo de la empresa.
    - Nombre de la empresa.
    - Menú de navegación.
    - Sección para el carrito y Login.-->
    <header style="border: 1px solid gray; margin: 10px">
      <!--Contenedor para el logo-->
      <div class="cabecera">
        <img
          src="/img/imagotipo-negro-fondo-transparente.png"
          alt="Logo"
          width="20%"
        />
      </div>
      <!-- Contenedor para el nombre de la empresa-->
      <div class="cabecera">
        <h1>MONKEY BURGER</h1>
        <h3>HMABURGUESAS GOURMET</h3>
      </div>
      <!--Contenedor para la barra de navegación-->
      <div class="cabecera">
        <nav class="barra-navegacion">
          <ul>
            <li>
              <h4><a href="nosotros.html">NOSOTROS</a></h4>
            </li>
            <li>
              <h4><a href="menu.html">MENÚ</a></h4>
            </li>
            <li>
              <h4><a href="haceTuPedido.html">HACE TU PEDIDO</a></h4>
            </li>
            <li>
              <h4><a href="#">CONTACTO</a></h4>
            </li>
          </ul>
        </nav>
      </div>
      <!--Contenedor para el carrito de compras-->
      <div class="cabecera">
        <img src="/img/bolsa.png" alt="Bolsa de compras" width="40px" />
        <h3><a href="productCar.html">CARRITO</a></h3>
      </div>
      <!--Contenedor para el usuario-->
      <div class="cabecera">
        <nav>
          <ul>
            <li>
              <h4><a href="#">INICIAR SESIÓN</a></h4>
            </li>
            <li>
              <h4><a href="#">CREAR CUENTA</a></h4>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <!--Principal de cuerpo de la página web.
    En este espacio deberá colocarse:
    - Carrete de promociones.
    - Mosaicos con productos destacados.
    - Mosaicos con actividades varias de la empresa.
    - Novedades.-->
    <main style="border: 1px solid gray; margin: 10px">
      <!--Carrete de promociones-->
      <section>
        <!--Serán mostradas sólo 5 promociones-->
        <div>Carrete de imagenes</div>
        <!--Botones de acción-->
        <div>
          <div>Anterior</div>
          <div>Siguiente</div>
          <div>PEDI AHORA</div>
        </div>
        <!--posición en el carrete-->
        <div>
          <div>(1)</div>
          <div>(2)</div>
          <div>(3)</div>
          <div>(4)</div>
          <div>(5)</div>
        </div>
      </section>
      <!--Mosaicos de destacados y novedades-->
      <section>
        <h2>NUESTRAS NOVEDADES</h2>
        <!--Novedades-->
        <article>
          <div>Imagen</div>
          <div>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit.
              Molestiae vero possimus ea quos labore, doloribus, consectetur
              ipsam beatae aliquid laudantium sequi delectus quam enim incidunt
              corrupti odit quibusdam quaerat quod!
            </p>
          </div>
        </article>
        <!--Destacados-->
        <article>
          <div>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit.
              Molestiae vero possimus ea quos labore, doloribus, consectetur
              ipsam beatae aliquid laudantium sequi delectus quam enim incidunt
              corrupti odit quibusdam quaerat quod!
            </p>
          </div>
          <div>Imagen</div>
        </article>
      </section>
    </main>
    <!--Pie de página de la web.
    En este espacio deberá colocarse:
    - Enlace a redes sociales.
    - Enlaces de interés.
    - Contacto.
    - Referencia a desarrolladores.-->
    <footer style="border: 1px solid gray; margin: 10px">
      <!--Redes sociales-->
      <div class="pie-pagina">
        <p>Facebook</p>
        <p>Instagram</p>
        <p>Whatsapp</p>
      </div>
      <!--Enlaces-->
      <div class="pie-pagina">
        <nav class="pie-navegacion">
          <ul>
            <li>
              <h4><a href="#">POLITICA</a></h4>
            </li>
            <li>
              <h4><a href="#">DEFENSA AL CONSUMIDOR</a></h4>
            </li>
            <li>
              <h4><a href="#">PROTECCION DE DATOS</a></h4>
            </li>
            <li>
              <h4><a href="#">CONTACTANOS</a></h4>
            </li>
          </ul>
        </nav>
      </div>
      <div><p>Desarrolladores DH</p></div>
    </footer>
  </body>
</html>
