<!DOCTYPE html>
<HTML lang="en">
    <HEAD>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <script src="https://kit.fontawesome.com/841275cf5f.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="css/style.css"/> 
        <link rel=StyleSheet href="css/login.css"> 
    </HEAD>
    <BODY>
        <header>
            <div class="logo">
                <img src="/public/img/logo/imagotipo-blanco-fondonegro.png" alt="logo"/> 
            </div>
            <div>
                <nav>
                    <ul>
                        <li>
                            <h4><a href="#">NOSOTROS</a></h4>
                        </li>
                        <li>
                            <h4><a href="#">MENÚ</a></h4>
                        </li>
                        <li>
                            <h4><a href="#">HACE TU PEDIDO</a></h4>
                        </li>
                        <li>
                            <h4><a href="#">CONTACTO</a></h4>
                        </li>
                    </ul>
                </nav>
            </div>
                <div>
                    <i class="fa-solid fa-cart-shopping"></i> 
                    <h4>CARRITO</h4>
                </div>
                <div>
                    <nav>
                        <ul>
                            <li>
                                <h4><a href="#"> INICIAR SESIÓN</a></h4>
                            </li>
                            <li>
                                <h4><a href="#">CREAR CUENTA</a></h4>
                            </li>
                        </ul>
                    </nav>
                </div>
        </header>
        <main>
            <h1 class="sesion">INICIAR SESIÓN</h1>
            <div class="iniciar-sesion">
                <ul>
                <li class="input-user">
                    <label for="usuario"></label>
                    <input type="text" name="usuario" placeholder="Nombre de usuario/Correo electrónico" id="usuario">
                </li>
                </ul>
                <ul>
                    <li class="input-password">
                    <label for="Contraseña"></label>
                    <input type="password" name="password" placeholder="Contraseña" id="Contraseña">
                </li>
            </ul>
        </div>
        <div class="boton">
            <button type="submit" id="boton">Ingresar</button>
        </div>
        <div class="opciones">
                <span class="restablecer-contra"><a href="#"> Restablecer Contraseña</a></span>
                <span class="crear-usuario"><a href="#">Crear Nuevo Usuario</a></span>
        </div>
                
                
        </main>
        <footer>
            <div>
              <p>Facebook</p>
              <p>Instagram</p>
              <p>Whatsapp</p>
            </div>
            <div>
              <nav>
                <ul>
                  <li>
                    <h4><a href="#">POLITICA</a></h4>
                  </li>
                  <li>
                    <h4><a href="#">DEFENSA AL CONSUMIDOR</a></h4>
                  </li>
                  <li>
                    <h4><a href="#">PROTECCION DE DATOS</a></h4>
                  </li>
                  <li>
                    <h4><a href="#">CONTACTANOS</a></h4>
                  </li>
                </ul>
              </nav>
            </div>
            <div><p>Desarrolladores DH</p></div>
    </footer>
    </BODY>
    </HTML>