<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Menú</title>
  </head>
  <body>
    <header>
      <div>
        <img
          src="/img/logo/imagotipo-blanco-fondonegro.png"
          alt="Logo"
          width="20%"
        />
      </div>
      <div>
        <nav>
          <ul>
            <li>
              <h4><a href="#">NOSOTROS</a></h4>
            </li>
            <li>
              <h4><a href="#">MENÚ</a></h4>
            </li>
            <li>
              <h4><a href="#">HACE TU PEDIDO</a></h4>
            </li>
            <li>
              <h4><a href="#">CONTACTO</a></h4>
            </li>
          </ul>
        </nav>
      </div>
      <div>
        <img src="/img/bolsa.png" alt="Bolsa de compras" width="40px" />
        <h3>CARRITO</h3>
      </div>
      <div>
        <nav>
          <ul>
            <li>
              <h4><a href="#">INICIAR SESIÓN</a></h4>
            </li>
            <li>
              <h4><a href="#">CREAR CUENTA</a></h4>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <main>
      <h1>INFARTATE CON NUESTRO MENÚ</h1>
      <ul>
        <li><a href="#">HAMBURGUESAS</a></li>
        <li><a href="#">TAPAS</a></li>
        <li><a href="#">BEBIDAS</a></li>
        <li><a href="#">COMBOS</a></li>
      </ul>
      <h2>HAMBURGUESAS</h2>
      <seccion>
        <h3>MONKEY BURGER</h3>
        <div>descripcion</div>
        <div>precio</div>
        <div>LA QUIERO YA!</div>
        <img src="foto" alt="foto de Hamburguesa" />
      </seccion>
      <seccion>
        <h3>GUENON BURGER</h3>
        <div>descripcion</div>
        <div>precio</div>
        <div>LA QUIERO YA!</div>
        <img src="foto" alt="foto de Hamburguesa" />
      </seccion>
      <seccion>
        <h3>SCIMMIA BURGER</h3>
        <div>descripcion</div>
        <div>precio</div>
        <div>LA QUIERO YA!</div>
        <img src="foto" alt="foto de Hamburguesa" />
      </seccion>
      <seccion>
        <h3>AFFE BURGER</h3>
        <div>descripcion</div>
        <div>precio</div>
        <div>LA QUIERO YA!</div>
        <img src="foto" alt="foto de Hamburguesa" />
      </seccion>
      <seccion>
        <h3>MACACO BURGER</h3>
        <div>descripcion</div>
        <div>precio</div>
        <div>LA QUIERO YA!</div>
        <img src="foto" alt="foto de Hamburguesa" />
      </seccion>
      <seccion>
        <h3>MONO BURGER</h3>
        <div>descripcion</div>
        <div>precio</div>
        <div>LA QUIERO YA!</div>
        <img src="foto" alt="foto de Hamburguesa" />
      </seccion>
      <h2>TAPAS</h2>
      <seccion>
        <h3>PAPAS MONKEY</h3>
        <div>descripcion</div>
        <div>precio</div>
        <div>LA QUIERO YA!</div>
        <img src="foto" alt="foto de Hamburguesa" />
      </seccion>
      <seccion>
        <h3>MONKEY ONIONS</h3>
        <div>descripcion</div>
        <div>precio</div>
        <div>LA QUIERO YA!</div>
        <img src="foto" alt="foto de Hamburguesa" />
      </seccion>
      <seccion>
        <h3>MOZZA MONKEY</h3>
        <div>descripcion</div>
        <div>precio</div>
        <div>LA QUIERO YA!</div>
        <img src="foto" alt="foto de Hamburguesa" />
      </seccion>
      <h2>BEBIDAS</h2>
      <seccion>
        <h3>MONO BURGER</h3>
        <div>descripcion</div>
        <div>precio</div>
        <div>LA QUIERO YA!</div>
        <img src="foto" alt="foto de Hamburguesa" />
      </seccion>
      <seccion>
        <h3>MONO BURGER</h3>
        <div>descripcion</div>
        <div>precio</div>
        <div>LA QUIERO YA!</div>
        <img src="foto" alt="foto de Hamburguesa" />
      </seccion>
      <seccion>
        <h3>MONO BURGER</h3>
        <div>descripcion</div>
        <div>precio</div>
        <div>LA QUIERO YA!</div>
        <img src="foto" alt="foto de Hamburguesa" />
      </seccion>
      <seccion>
        <h3>MONO BURGER</h3>
        <div>descripcion</div>
        <div>precio</div>
        <div>LA QUIERO YA!</div>
        <img src="foto" alt="foto de Hamburguesa" />
      </seccion>
      <seccion>
        <h3>MONO BURGER</h3>
        <div>descripcion</div>
        <div>precio</div>
        <div>LA QUIERO YA!</div>
        <img src="foto" alt="foto de Hamburguesa" />
      </seccion>
      <seccion>
        <h3>MONO BURGER</h3>
        <div>descripcion</div>
        <div>precio</div>
        <div>LA QUIERO YA!</div>
        <img src="foto" alt="foto de Hamburguesa" />
      </seccion>
      <seccion>
        <h3>MONO BURGER</h3>
        <div>descripcion</div>
        <div>precio</div>
        <div>LA QUIERO YA!</div>
        <img src="foto" alt="foto de Hamburguesa" />
      </seccion>
      <seccion>
        <h3>MONO BURGER</h3>
        <div>descripcion</div>
        <div>precio</div>
        <div>LA QUIERO YA!</div>
        <img src="foto" alt="foto de Hamburguesa" />
      </seccion>
      <seccion>
        <h3>MONO BURGER</h3>
        <div>descripcion</div>
        <div>precio</div>
        <div>LA QUIERO YA!</div>
        <img src="foto" alt="foto de Hamburguesa" />
      </seccion>
      <seccion>
        <h3>MONO BURGER</h3>
        <div>descripcion</div>
        <div>precio</div>
        <div>LA QUIERO YA!</div>
        <img src="foto" alt="foto de Hamburguesa" />
      </seccion>
      <seccion>
        <h3>MONO BURGER</h3>
        <div>descripcion</div>
        <div>precio</div>
        <div>LA QUIERO YA!</div>
        <img src="foto" alt="foto de Hamburguesa" />
      </seccion>
      <seccion>
        <h3>MONO BURGER</h3>
        <div>descripcion</div>
        <div>precio</div>
        <div>LA QUIERO YA!</div>
        <img src="foto" alt="foto de Hamburguesa" />
      </seccion>
      <seccion>
        <h3>MONO BURGER</h3>
        <div>descripcion</div>
        <div>precio</div>
        <div>LA QUIERO YA!</div>
        <img src="foto" alt="foto de Hamburguesa" />
      </seccion>
      <seccion>
        <h3>MONO BURGER</h3>
        <div>descripcion</div>
        <div>precio</div>
        <div>LA QUIERO YA!</div>
        <img src="foto" alt="foto de Hamburguesa" />
      </seccion>
      <h2>COMBOS</h2>
      <seccion>
        <h3>MONO BURGER</h3>
        <div>descripcion</div>
        <div>precio</div>
        <div>LA QUIERO YA!</div>
        <img src="foto" alt="foto de Hamburguesa" />
      </seccion>
      <seccion>
        <h3>MONO BURGER</h3>
        <div>descripcion</div>
        <div>precio</div>
        <div>LA QUIERO YA!</div>
        <img src="foto" alt="foto de Hamburguesa" />
      </seccion>
      <seccion>
        <h3>MONO BURGER</h3>
        <div>descripcion</div>
        <div>precio</div>
        <div>LA QUIERO YA!</div>
        <img src="foto" alt="foto de Hamburguesa" />
      </seccion>
    </main>
    <footer></footer>
  </body>
</html>
