<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Nosotros</title>
  </head>
  <body>
    <header>
      <div class="cabecera">
        <img
          src="/img/imagotipo-negro-fondo-transparente.png"
          alt="Logo"
          width="20%"
        />
      </div>
      <div>
        <nav>
          <ul>
            <li>
              <h4><a href="#">NOSOTROS</a></h4>
            </li>
            <li>
              <h4><a href="#">MENÚ</a></h4>
            </li>
            <li>
              <h4><a href="#">HACE TU PEDIDO</a></h4>
            </li>
            <li>
              <h4><a href="#">CONTACTO</a></h4>
            </li>
          </ul>
        </nav>
      </div>
      <div>
        <img src="/img/bolsa.png" alt="Bolsa de compras" width="40px" />
        <h3>CARRITO</h3>
      </div>
      <div>
        <nav>
          <ul>
            <li>
              <h4><a href="#">INICIAR SESIÓN</a></h4>
            </li>
            <li>
              <h4><a href="#">CREAR CUENTA</a></h4>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <main>
      <h1>NOSOTROS</h1>
      <div>
        <h2>NUESTRA HISTORIA</h2>
        <p>
          Monkey Burger tiene sus orígenes allá por el 2010, cuando Pedro y
          Pablo, dos amigos de Piedradura, quisieron cocinar hamburguesas para
          sorprender a sus queridísimas Vilma y Betty. Como estaban con tiempo
          de sobra, decidieron comprar la carne y hacer ellos mismos sus propias
          hamburguesas. Obviamente, ya estaban cansados de los sándwiches de
          pterodáctilo industrial que comían habitualmente. Fue así como
          comenzaron a experimentar con diferentes ingredientes y no sólo
          dejaron contentas a Vilma y Betty, sino que además comenzaron con una
          tradición a la que se fueron sumando más y más amigos. Muy pronto, se
          fue corriendo la voz y todos en Piedradura querían esas hamburguesas.
        </p>
        <img src="/img/varias/varias18.JPG"
      </div>
      <div>
        <h3>NUESTRA MISIÓN</h3>
        <p>
          Queremos ser la cadena de hamburgueserías número 1 en Capital Federal,
          ofreciendo siempre el mejor sabor, la mejor calidad y una experiencia
          única para todos aquellos que eligen Monkey Burger.
        </p>
      </div>
      <div>
        <h3>NUESTRA VISIÓN</h3>
        <p>
          Una vez que nuestros clientes prueban nuestras hamburguesas, ya no ha
          vuelta atrás. Por esto, trabajamos día y noche para llevar esta
          revolución de sabor a todos los rincones de nuestro país.
        </p>
      </div>
      <div>
        <h2>NUESTRAS SUCURSALES</h2>
        <p>
          Estás en Capital Federal? Vení a visitarnos! Estos son los datos de
          nuestros locales para que enloquezcas con nuestras hamburguesas:
        </p>
        <div>
          <h3>CABALLITO</h3>
          <p>Rosario 274, CABA</p>
          <p>Tel. 011 2077 6431</p>
          <p>De Martes a Domingos de 18 a 02hs.</p>
        </div>
        <div>
          <h3>PARQUE PATRICIOS</h3>
          <p>Monteagudo 109, CABA</p>
          <p>Tel. 011 3047 4553</p>
          <p>De Martes a Domingos de 18 a 02hs.</p>
        </div>
        <div>
          <h3>PALERMO</h3>
          <p>Av. del Libertador 3883, CABA</p>
          <p>Tel. 011 4033 3546</p>
          <p>De Martes a Domingos de 18 a 02hs.</p>
        </div>
        <div>
          <h3>NÚÑEZ</h3>
          <p>Av. García del Río 2662, CABA</p>
          <p>Tel. 011 4702 3683</p>
          <p>De Martes a Domingos de 18 a 02hs.</p>
        </div>
      </div>
    </main>
    <footer>
      <div>
        <p>Facebook</p>
        <p>Instagram</p>
        <p>Whatsapp</p>
      </div>
      <div>
        <nav>
          <ul>
            <li>
              <h4><a href="#">POLITICA</a></h4>
            </li>
            <li>
              <h4><a href="#">DEFENSA AL CONSUMIDOR</a></h4>
            </li>
            <li>
              <h4><a href="#">PROTECCION DE DATOS</a></h4>
            </li>
            <li>
              <h4><a href="#">CONTACTANOS</a></h4>
            </li>
          </ul>
        </nav>
      </div>
      <div><p>Desarrolladores DH</p></div>
    </footer>
  </body>
</html>
