<!DOCTYPE html>
<html lang="en">
    <head>
            <meta charset="UTF-8" />
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0" />
            <link rel="stylesheet" href="/css/style.css" />
            <title>Producto</title>
    </head>
    <body>
        <header>
            <div>
                <img
                  src="/img/logo/imagotipo-blanco-fondonegro.png"
                  alt="Logo"
                  width="20%"
                />
              </div>
              <div>
                <nav>
                  <ul>
                    <li>
                      <h4><a href="#">NOSOTROS</a></h4>
                    </li>
                    <li>
                      <h4><a href="#">MENÚ</a></h4>
                    </li>
                    <li>
                      <h4><a href="#">HACE TU PEDIDO</a></h4>
                    </li>
                    <li>
                      <h4><a href="#">CONTACTO</a></h4>
                    </li>
                  </ul>
                </nav>
              </div>
              <div>
                <img src="/img/bolsa.png" alt="Bolsa de compras" width="40px" />
                <h3>CARRITO</h3>
              </div>
              <div>
                <nav>
                  <ul>
                    <li>
                      <h4><a href="#">INICIAR SESIÓN</a></h4>
                    </li>
                    <li>
                      <h4><a href="#">CREAR CUENTA</a></h4>
                    </li>
                  </ul>
                </nav>
              </div>
        </header>
        <main>
            <h1>NOMBRE PRODUCTO</h1>
                <div>
                    <img src="/img/producto/affe2.jpg" alt="Foto producto elegido">
                        <h3>$ XXXX</h3>
                    <p>La bomba alemana que no podía faltar en el menú. Pan de masa madre horneado en el día con un medallón de carnes angus de 200gr. Infaltable el chucrut casero de repollo blanco y la mostaza con granitos (una receta súper secreta de Monkey Burger). También vas a sentir el crunchy de la panceta recién tostada. La acompañamos con papas fritas, y por favor no te olvides de una buena cerveza para una digestión como corresponde.</p>
                    <div>
                        <h3>Unidades</h3>
                            <p>-</p>
                            <p>1</p>
                            <p>+</p>
                    </div>
                    <div>
                        <h3>Ingredientes Extras</h3>
                            <p>Elegir</p>
                    </div>
                    <div>
                        <h3>Notas del pedido</h3>
                            <p>Agregar</p>   
                    </div>
                    <div>
                        <h3>AGREGAR AL CARRITO</h3>  
                    </div>
                </div>
        </main>
        <footer>
            <div>
                <p>Facebook</p>
                <p>Instagram</p>
                <p>Whatsapp</p>
              </div>
              <div>
                <nav>
                  <ul>
                    <li>
                      <h4><a href="#">POLITICA</a></h4>
                    </li>
                    <li>
                      <h4><a href="#">DEFENSA AL CONSUMIDOR</a></h4>
                    </li>
                    <li>
                      <h4><a href="#">PROTECCION DE DATOS</a></h4>
                    </li>
                    <li>
                      <h4><a href="#">CONTACTANOS</a></h4>
                    </li>
                  </ul>
                </nav>
              </div>
              <div><p>Desarrolladores DH</p></div>
        </footer>
    </body>
</html>