<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/1f2014748d.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="icon" href="/img/icono.png" />
    <link rel="stylesheet" href="/css/estilo-producto.css" />
    <script
      src="https://kit.fontawesome.com/1f2014748d.js"
      crossorigin="anonymous"
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Antonio:wght@700&family=Josefin+Sans:ital@1&family=Lato:ital,wght@1,700&family=Sansita+Swashed:wght@400;800&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Antonio:wght@100;700&family=Josefin+Sans:ital@1&family=Lato:ital,wght@1,700&family=Sansita+Swashed:wght@400;800&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Antonio:wght@100;700&family=Josefin+Sans:ital@1&family=Lato:ital,wght@1,700&family=Marvel:wght@700&family=Sansita+Swashed:wght@400;800&display=swap"
      rel="stylesheet"
    />

    <title>Producto</title>
  </head>
  <body>
    <header>
      <div class="cabecera-logo">
        <a href="/">
          <img
            src="/img/imagotipo-negro-fondo-transparente-inv3.png"
            alt="Logo"
            class="mobile"
          />
        </a>
        <a href="/">
          <img
            src="/img/Isotipo-amarillo-fondotransparente-inv3.png"
            alt="Logo"
            class="laptop"
          />
        </a>
      </div>
      <div class="cabecera-centro">
        <div class="marca">
          <h1 class="monkey">MONKEY BURGER</h1>
          <h3 class="gourmet">HAMBURGUESAS GOURMET</h3>
        </div>
        <div class="cabecera-barra">
          <nav class="barra-navegacion">
            <ul>
              <li>
                <h4><a href="nosotros">NOSOTROS</a></h4>
              </li>
              <li>
                <h4><a href="menu">MENÚ</a></h4>
              </li>
              <li>
                <h4><a href="haceTuPedido">HACE TU PEDIDO</a></h4>
              </li>
              <li>
                <h4><a href="contacto">CONTACTO</a></h4>
              </li>
            </ul>
          </nav>
        </div>
        <div class="cabecera-mobile">
          <a href="#"><i class="fa-solid fa-bars"></i></a>
        </div>
      </div>
      <div class="cabecera-derecha">
        <div class="usuario">
          <button class="boton">
            <h4><a href="login">INICIAR SESIÓN</a></h4>
          </button>
          <button class="boton">
            <h4><a href="register">CREAR CUENTA</a></h4>
          </button>
        </div>
        <div class="compra">
          <div class="carrito"><i class="fa-solid fa-cart-shopping"></i></div>
          <button class="boton">
            <h4><a href="productCart">CARRITO</a></h4>
          </button>
        </div>
      </div>
    </header>
    <main>
      <h1>NOMBRE PRODUCTO ELEGIDO</h1>
      <div class="producto">
        <div class="foto-precio">
          <img
            class="foto"
            src="/img/producto/affe2.jpg"
            alt="Foto producto elegido"
          />
          <h3 class="precio">$ XXXX</h3>
        </div>
        <div class="info-producto">
          <div class="descripcion-producto">
            La bomba alemana que no podía faltar en el menú. Pan de masa madre
            horneado en el día con un medallón de carnes angus de 200gr.
            Infaltable el chucrut casero de repollo blanco y la mostaza con
            granitos (una receta súper secreta de Monkey Burger). También vas a
            sentir el crunchy de la panceta recién tostada. La acompañamos con
            papas fritas, y por favor no te olvides de una buena cerveza para
            una digestión como corresponde.
          </div>
          <div class="contenedor-unidades">
            <h3>Unidades</h3>
            <div class="selector-unidades">
              <div class="boton-mas-menos">-</div>
              <div class="visor-unidades">1</div>
              <div class="boton-mas-menos">+</div>
            </div>
          </div>
          <div class="contenedor-extras">
            <h3>Ingredientes Extras</h3>
            <div class="selector-extras">Elegir</div>
          </div>
          <div class="contenedor-notas">
            <h3>Notas del pedido</h3>
            <div class="selector-notas">Agregar</div>
          </div>
          <button class="boton-agregar-al-carrito">AGREGAR AL CARRITO</button>
        </div>
      </div>
    </main>
    <footer>
      <!--Redes sociales-->
      <div class="pie-pagina">
        <p><i class="fa-brands fa-facebook"></i></p>
        <p><i class="fa-brands fa-instagram"></i></p>
        <p><i class="fa-brands fa-whatsapp"></i></p>
      </div>
      <!--Enlaces-->
      <div class="pie-pagina">
        <nav class="pie-navegacion">
          <ul>
            <li>
              <h5><a href="#">POLITICA</a></h5>
            </li>
            <li>
              <h5><a href="#">DEFENSA AL CONSUMIDOR</a></h5>
            </li>
            <li>
              <h5><a href="#">PROTECCION DE DATOS</a></h5>
            </li>
            <li>
              <h5><a href="#">CONTACTANOS</a></h5>
            </li>
          </ul>
        </nav>
      </div>
      <div class="desarrolladores"><p>Desarrolladores DH</p></div>
    </footer>
  </body>
</html>
