<!DOCTYPE html>
<html lang="en">
  <!--Cabecera de la página principal e inicio-->
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/1f2014748d.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="\css\estiloproductCar.css" />
    <title>Bienvenidos a Monkey Burger</title>
    <link rel="icon" href="/img/icono.png" />
  </head>
  <!--Cuerpo del archivo html correspondiente al inicio del e-commerce-->
  <body">
    <!--Encabezado de la página web.
    En este espacio deberá colocarse: 
    - El logo de la empresa.
    - Nombre de la empresa.
    - Menú de navegación.
    - Sección para el carrito y Login.-->
    <header>
      <!--Contenedor para el logo-->
      <div class="cabecera-logo">
        <img
          src="/img/imagotipo-negro-fondo-transparente.png"
          alt="Logo"
          class="mobile"
        />
        <img
          src="/img/Isotipo-amarillo-fondotransparente.png"
          alt="Logo"
          class="laptop"
        />
      </div>
      <!--Cabecera central-->
      <div class="cabecera-centro">
        <!-- Contenedor para el nombre de la empresa-->
        <div class="marca">
          <h1>MONKEY BURGER</h1>
          <h3>HAMBURGUESAS GOURMET</h3>
        </div>
        <!--Contenedor para la barra de navegación-->
        <div class="cabecera-barra">
          <nav class="barra-navegacion">
            <ul>
              <li>
                <h4><a href="nosotros.html">NOSOTROS</a></h4>
              </li>
              <li>
                <h4><a href="menu.html">MENÚ</a></h4>
              </li>
              <li>
                <h4><a href="haceTuPedido.html">HACE TU PEDIDO</a></h4>
              </li>
              <li>
                <h4><a href="#">CONTACTO</a></h4>
              </li>
            </ul>
          </nav>
        </div>
        <!--Barra de navegación mobile-->
        <div class="cabecera-mobile">
          <a href="#"><i class="fa-solid fa-bars"></i></a>
        </div>
      </div>
      <!--Cabecera derecha-->
      <div class="cabecera-derecha">
        <!--Contenedor para el usuario-->
        <div class="usuario">
          <!--<nav>
            <ul>
              <li>
                <h4><a href="#">INICIAR SESIÓN</a></h4>
              </li>
              <li>
                <h4><a href="register.html">CREAR CUENTA</a></h4>
              </li>
            </ul>
          </nav>-->
            <button><h4><a href="#">INICIAR SESIÓN</a></h4></button>
            <button><h4><a href="register.html">CREAR CUENTA</a></h4></button>
        </div>
        <!--Contenedor para el carrito de compras-->
        <div class="compra">
          <!--<img src="/img/bolsa.png" alt="Bolsa de compras" width="40px" />-->
          <div class="carrito"><i class="fa-solid fa-cart-shopping"></i></div>
          <button><h4><a href="productCar.html">CARRITO</a></h4>
          </button>
      </div>
    </header>
    <!--Principal de cuerpo de la página web.
    En este espacio deberá colocarse:
    - Carrete de promociones.
    - Mosaicos con productos destacados.
    - Mosaicos con actividades varias de la empresa.
    - Novedades.-->
    <main>
      <h1 class="titulo-carrito">MI CARRITO DE PRODUCTO</h1>
      <!--Productos seleccionados-->
      <section class="contenedor-carrito">
        <!--Serán mostradas sólo 3 selecciones en el ejemplo-->
        <div class="foto-producto-carrito"><img
          src="/img/menu/aros1.jpg"
          alt="foto de Aros de Cebolla"
          width="150px"
        />
        <h4 class="nombre-producto-carrito">Aros de Cebolla</h4>
      </div>
        <article class="info-compra-carrito">
        <div class="unidades-carrito">Unidades: 1</div>
        <div class="precio-producto-carrito">Precio unitario: $ 1.000</div>
        <div class="total-compra-carrito">Precio total: $ 1.000</div>
        <i class="fa-solid fa-trash"></i>
      </article>
      </section>
      <section class="contenedor-carrito">
        <!--Serán mostradas sólo 3 selecciones en el ejemplo-->
        <div class="foto-producto-carrito"><img
          src="\img\menu\mono1.jpg"
          alt="Hamburguesa Mono"
          width="150px"
        />
        <h4 class="nombre-producto-carrito">Hamburguesa Mono</h4>
      </div>
        <article class="info-compra-carrito">
        <div class="unidades-carrito">Unidades: 2</div>
        <div class="precio-producto-carrito">Precio unitario: $ 900</div>
        <div class="total-compra-carrito">Precio total: $ 1.800</div>
        <i class="fa-solid fa-trash"></i>
      </article>
      </section>
      <section class="contenedor-carrito">
        <!--Serán mostradas sólo 3 selecciones en el ejemplo-->
        <div class="foto-producto-carrito"><img
          src="/img/menu/combomonita1.jpg"
          alt="Combo Monita"
          width="150px"
        />
        <h4 class="nombre-producto-carrito">Combo Monita</h4>
      </div>
        <article class="info-compra-carrito">
        <div class="unidades-carrito">Unidades: 1</div>
        <div class="precio-producto-carrito">Precio unitario: $ 7.500</div>
        <div class="total-compra-carrito">Precio total: $ 7.500</div>
        <i class="fa-solid fa-trash"></i>
      </article>
      </section>
      <section class="totalproducto-carrito">
        <div class="totales-carrito">TOTAL COMPRA: $ 10.300</div>
      </section>
      <section class="contenedor-botones-carrito">
        <h4 class="boton-agregarmas-carrito">AGREGAR MAS PRODUCTOS</h4>
        <h4 class="boton-continuar-carrito">CONTINUAR</h4>
      </section>
    </main>
    <!--Pie de página de la web.
    En este espacio deberá colocarse:
    - Enlace a redes sociales.
    - Enlaces de interés.
    - Contacto.
    - Referencia a desarrolladores.-->
    <footer>

    </footer>
  </body>
</html>
