<!DOCTYPE html>
<html lang="en">
  <!--Cabecera de la página principal e inicio-->
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/1f2014748d.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/css/style.css" />
    <title>Bienvenidos a Monkey Burger</title>
    <link rel="icon" href="/img/icono.png" />
  </head>
  <!--Cuerpo del archivo html correspondiente al inicio del e-commerce-->
  <body style="background-color: lightgray">
    <!--Encabezado de la página web.
    En este espacio deberá colocarse: 
    - El logo de la empresa.
    - Nombre de la empresa.
    - Menú de navegación.
    - Sección para el carrito y Login.-->
    <header style="border: 1px solid gray; margin: 10px">
      <!--Contenedor para el logo-->
      <div class="cabecera-logo">
        <img
          src="/img/imagotipo-negro-fondo-transparente.png"
          alt="Logo"
          class="mobile"
        />
        <img
          src="/img/Isotipo-amarillo-fondotransparente.png"
          alt="Logo"
          class="laptop"
        />
      </div>
      <!--Cabecera central-->
      <div class="cabecera-centro">
        <!-- Contenedor para el nombre de la empresa-->
        <div class="marca">
          <h1>MONKEY BURGER</h1>
          <h3>HAMBURGUESAS GOURMET</h3>
        </div>
        <!--Contenedor para la barra de navegación-->
        <div class="cabecera-barra">
          <nav class="barra-navegacion">
            <ul>
              <li>
                <h4><a href="nosotros.html">NOSOTROS</a></h4>
              </li>
              <li>
                <h4><a href="menu.html">MENÚ</a></h4>
              </li>
              <li>
                <h4><a href="haceTuPedido.html">HACE TU PEDIDO</a></h4>
              </li>
              <li>
                <h4><a href="#">CONTACTO</a></h4>
              </li>
            </ul>
          </nav>
        </div>
        <!--Barra de navegación mobile-->
        <div class="cabecera-mobile">
          <a href="#"><i class="fa-solid fa-bars"></i></a>
        </div>
      </div>
      <!--Cabecera derecha-->
      <div class="cabecera-derecha">
        <!--Contenedor para el usuario-->
        <div class="usuario">
          <!--<nav>
            <ul>
              <li>
                <h4><a href="#">INICIAR SESIÓN</a></h4>
              </li>
              <li>
                <h4><a href="register.html">CREAR CUENTA</a></h4>
              </li>
            </ul>
          </nav>-->
            <button><h4><a href="#">INICIAR SESIÓN</a></h4></button>
            <button><h4><a href="register.html">CREAR CUENTA</a></h4></button>
        </div>
        <!--Contenedor para el carrito de compras-->
        <div class="compra">
          <!--<img src="/img/bolsa.png" alt="Bolsa de compras" width="40px" />-->
          <div class="carrito"><i class="fa-solid fa-cart-shopping"></i></div>
          <button><h4><a href="productCar.html">CARRITO</a></h4>
          </button>
      </div>
    </header>
    <!--Principal de cuerpo de la página web.
    En este espacio deberá colocarse:
    - Carrete de promociones.
    - Mosaicos con productos destacados.
    - Mosaicos con actividades varias de la empresa.
    - Novedades.-->
    <main style="border: 1px solid gray; margin: 10px">
      <h2>MI CARRITO DE PRODUCTO</h2>
      <!--Productos seleccionados-->
      <section class="contenedor-carrito">
        <!--Serán mostradas sólo 3 selecciones en el ejemplo-->
        <img
          src="/img/menu/aros1.jpg"
          alt="foto de Aros de Cebolla"
          width="50px"
        />
        <h4>Aros de Cebolla</h4>
        <div>Unidades: 1</div>
        <div>Precio unitario: $ 1.000</div>
        <div>Precio total: $ 1.000</div>
        <i class="fa-solid fa-trash"></i>
      </section>
      <section class="contenedor-carrito">
        <!--Serán mostradas sólo 3 selecciones en el ejemplo-->
        <img
          src="\img\menu\mono1.jpg"
          alt="foto de Aros de Cebolla"
          width="50px"
        />
        <h4>Hamburguesa Mono</h4>
        <div>Unidades: 2</div>
        <div>Precio unitario: $ 900</div>
        <div>Precio total: $ 1.800</div>
        <i class="fa-solid fa-trash"></i>
      </section>
      <section class="contenedor-carrito">
        <img
          src="/img/menu/combomonita1.jpg"
          alt="foto combo Monita"
          width="50px"
        />
        <h4>Combo Monita</h4>
        <div>Unidades: 1</div>
        <div>Precio unitario: $ 7.500</div>
        <div>Precio total: $ 7.500</div>
        <i class="fa-solid fa-trash"></i>
      </section>
      <section class="contenedor-total-carrito">TOTAL COMPRA: $ 10.300</section>

      <section class="botones-carrito">
        <h4><a href="#">CONTINUAR</a></h4>
        <h4><a href="#">AGREGAR MAS PRODUCTOS</a></h4>
      </section>
    </main>
    <!--Pie de página de la web.
    En este espacio deberá colocarse:
    - Enlace a redes sociales.
    - Enlaces de interés.
    - Contacto.
    - Referencia a desarrolladores.-->
    <footer style="border: 1px solid gray; margin: 10px">
      <!--Redes sociales-->
      <div>
        <p>Facebook</p>
        <p>Instagram</p>
        <p>Whatsapp</p>
      </div>
      <!--Enlaces-->
      <div>
        <nav>
          <ul>
            <li>
              <h4><a href="#">POLITICA</a></h4>
            </li>
            <li>
              <h4><a href="#">DEFENSA AL CONSUMIDOR</a></h4>
            </li>
            <li>
              <h4><a href="#">PROTECCION DE DATOS</a></h4>
            </li>
            <li>
              <h4><a href="#">CONTACTANOS</a></h4>
            </li>
          </ul>
        </nav>
      </div>
      <div><p>Desarrolladores DH</p></div>
    </footer>
  </body>
</html>
