<!DOCTYPE html>
<html lang="en">
  <!--Cabecera de la página principal e inicio-->
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <script src="https://kit.fontawesome.com/c96dfd1d0b.js" crossorigin="anonymous"></script>
    <title>Carrito de producto</title>
    <link rel="icon" href="/img/icono.png" />
  </head>
  <!--Cuerpo del archivo html correspondiente al inicio del e-commerce-->
  <body style="background-color: lightgray">
    <!--Encabezado de la página web.
    En este espacio deberá colocarse: 
    - El logo de la empresa.
    - Nombre de la empresa.
    - Menú de navegación.
    - Sección para el carrito y Login.-->
    <header style="border: 1px solid gray; margin: 10px">
      <!--Contenedor para el logo-->
      <div>
        <img
          src="/img/logo/imagotipo-blanco-fondonegro.png"
          alt="Logo"
          width="20%"
        />
      </div>
      <!-- Contenedor para el nombre de la empresa-->
      <div>
        <h1>MONKEY BURGER</h1>
        <h3>HAMBURGUESAS GOURMET</h3>
      </div>
      <!--Contenedor para la barra de navegación-->
      <div>
        <nav>
          <ul>
            <li>
              <h4><a href="#">NOSOTROS</a></h4>
            </li>
            <li>
              <h4><a href="#">MENÚ</a></h4>
            </li>
            <li>
              <h4><a href="#">HACE TU PEDIDO</a></h4>
            </li>
            <li>
              <h4><a href="#">CONTACTO</a></h4>
            </li>
          </ul>
        </nav>
      </div>
      <!--Contenedor para el carrito de compras-->
      <div>
        <img src="/img/bolsa.png" alt="Bolsa de compras" width="40px" />
        <h3>CARRITO</h3>
      </div>
      <!--Contenedor para el usuario-->
      <div>
        <nav>
          <ul>
            <li>
              <h4><a href="#">INICIAR SESIÓN</a></h4>
            </li>
            <li>
              <h4><a href="#">CREAR CUENTA</a></h4>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <!--Principal de cuerpo de la página web.
    En este espacio deberá colocarse:
    - Los diferentes productos seleccionados.
    - Imagen y descripción del producto.
    - Cantidad unidades seleccionadas
    - Precio unitario.
    - Precio total
     - Botón para agregar más productos.
     - Botón para continuar con el proceso de pago.-->
<main style="border: 1px solid gray; margin: 10px">
	<h2> MI CARRITO DE PRODUCTO </h2>
      <!--Productos seleccionados-->
<section class="contenedor-carrito">
        <!--Serán mostradas sólo 3 selecciones en el ejemplo-->
    <img src= "/img/menu/aros1.jpg" alt="foto de Aros de Cebolla" width= 50px />
    <h4> Aros de Cebolla </h4>
    <div> Unidades: 1 </div> 
    <div> Precio unitario: $ 1.000 </div>
    <div> Precio total: $ 1.000 </div> <i class="fa-solid fa-trash"></i>
</section>
<section class="contenedor-carrito">
<!--Serán mostradas sólo 3 selecciones en el ejemplo-->
<img src= "\img\menu\mono1.jpg" alt="foto de Aros de Cebolla" width= 50px />
    <h4> Hamburguesa Mono </h4>
    <div> Unidades: 2 </div> 
    <div> Precio unitario: $ 900 </div>
    <div> Precio total: $ 1.800 </div> <i class="fa-solid fa-trash"></i>
</section>
<section class="contenedor-carrito">
    <img src="/img/menu/combomonita1.jpg" alt="foto combo Monita" width= 50px />
    <h4> Combo Monita </h4>
    <div> Unidades: 1 </div> 
    <div> Precio unitario: $ 7.500 </div>
    <div> Precio total: $ 7.500 </div> <i class="fa-solid fa-trash"></i>
</section>
<section class="contenedor-total-carrito">
 TOTAL COMPRA: $ 10.300
</section>

<section class="botones-carrito"> 
	<h4><a href="#">CONTINUAR</a></h4>
	<h4><a href="#">AGREGAR MAS PRODUCTOS</a></h4>
</section>    
    </main>
    <!--Pie de página de la web.
    En este espacio deberá colocarse:
    - Enlace a redes sociales.
    - Enlaces de interés.
    - Contacto.
    - Referencia a desarrolladores.-->
    <footer style="border: 1px solid gray; margin: 10px">
      <!--Redes sociales-->
      <div>
        <p>Facebook</p>
        <p>Instagram</p>
        <p>Whatsapp</p>
      </div>
      <!--Enlaces-->
      <div>
        <nav>
          <ul>
            <li>
              <h4><a href="#">POLITICA</a></h4>
            </li>
            <li>
              <h4><a href="#">DEFENSA AL CONSUMIDOR</a></h4>
            </li>
            <li>
              <h4><a href="#">PROTECCION DE DATOS</a></h4>
            </li>
            <li>
              <h4><a href="#">CONTACTANOS</a></h4>
            </li>
          </ul>
        </nav>
      </div>
      <div><p>Desarrolladores DH</p></div>
    </footer>
  </body>
</html>

