<!DOCTYPE html>
<HTML lang="en">
    <HEAD>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <script src="https://kit.fontawesome.com/841275cf5f.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="css/style.css"/> 
    </HEAD>
    <BODY>
        <header>
            <div>
                <img src="/public/img/logo/imagotipo-blanco-fondonegro.png" alt="logo"/> 
            </div>
            <div>
                <nav>
                    <ul>
                        <li>
                            <h4><a href="#">NOSOTROS</a></h4>
                        </li>
                        <li>
                            <h4><a href="#">MENÚ</a></h4>
                        </li>
                        <li>
                            <h4><a href="#">HACE TU PEDIDO</a></h4>
                        </li>
                        <li>
                            <h4><a href="#">CONTACTO</a></h4>
                        </li>
                    </ul>
                </nav>
            </div>
                <div>
                    <i class="fa-solid fa-cart-shopping"></i> 
                    <h4>CARRITO</h4>
                </div>
                <div>
                    <nav>
                        <ul>
                            <li>
                                <h4><a href="#"> INICIAR SESIÓN</a></h4>
                            </li>
                            <li>
                                <h4><a href="#">CREAR CUENTA</a></h4>
                            </li>
                        </ul>
                    </nav>
                </div>
        </header>
        <main>
            <h1>CREAR CUENTA</h1>
            <ul>
                <li>
                    <h4>Nombre</h4>
                </li>
                <li>
                    <h4>Apellido</h4>
                </li>
                <li>
                    <h4>Correo Electrónico</h4> <img 
                    href="/public/img/logo/imagotipo-blanco-fondonegro.png" 
                    src="ImagenLogo">
                </li>
                <li>
                    <h4>Nombre de usuario</h4>
                </li>
                <li>
                    <h4>Teléfono</h4>
                </li>
                <li>
                    <h4>Domicilio</h4>
                </li>
                <li>
                    <h4>Localidad/Provincia</h4>
                </li>
                <li>
                    <h4>Código Postal</h4>
                </li>
                <li>
                    <h4>Contraseña</h4>
                </li>
                <li>
                    <h4>Confirmar Contraseña</h4>
                </li>
            </ul>
            <h3>ENVIAR</h3>
        </main>
    </BODY>
    </HTML>