* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    background-color: #242423;
  }

 h1.contacto{
    color: #ffc000;
    text-align: center;
    margin-bottom: 7%;
}

.input-nombre input{
    background-color: white;
    width:45%;
    height: 30px;
    border: 3px black solid;
    border-radius: 10px;
}


.input-nombre{
    text-align: center;
    margin: 10px 25px 25px;
}

.input-apellido input{
    background-color: white;
    width:45%;
    height: 30px;
    border: 3px black solid;
    border-radius: 10px;
}
.input-apellido{
    text-align: center;
    margin: 10px 25px 25px;
}

.input-email input{
    background-color: white;
    width:45%;
    height: 30px;
    border: 3px black solid;
    border-radius: 10px;
}


.input-email{
    text-align: center;
    margin: 10px 25px 25px;
}

.input-telefono input{
    background-color: white;
    width:45%;
    height: 30px;
    border: 3px black solid;
    border-radius: 10px;
}

.input-telefono{
    text-align: center;
    margin: 10px 25px 25px;
}

.input-domicilio input{
    background-color: white;
    width:45%;
    height: 30px;
    border: 3px black solid;
    border-radius: 10px;
}
.input-domicilio{
    text-align: center;
    margin: 10px 25px 25px;
}

/*.input-asunto input{
    background-color: white;
    width:45%;
    height: 30px;
    border: 3px black solid;
    border-radius: 10px;
}
.input-asunto{
    text-align: center;
    margin: 10px 25px 25px;
}

.select-opciones{
    margin-left: -11.5%;
    background-color: #ffc000;
    border: 3px black solid;
    border-radius: 10px;
}
*/
.input-asunto select{
    background-color: white;
    width:45%;
    height: 30px;
    border: 3px black solid;
    border-radius: 10px;
}
.input-asunto{
    text-align: center;
    margin: 10px 25px 25px;
}

.input-mensaje input{
    background-color: white;
    width: 45%;
    height: 90px;
    border: 3px black solid;
    border-radius: 10px;
    text-align: start;
}
.input-mensaje{
    text-align: center;
    margin: 10px 25px 25px;
}

#boton{
    background-color: #ffc000;
    width: 150px;
    height: 30px;
    border: black 2px solid;
    border-radius: 10px;
}
    div.boton{
        text-align: center;
        margin: 15px 25px;
}

