/* Colores:
Gris oscuro: #CFDBD5
Gris claro: #E8EDDF
Amarillo: #FFC000
Negro: #242423
Negro claro: #333533 */

* {
  color: #e8eddf;
  font-family: "Antonio";
  font-style: normal;
  /* background-color: #242423; */
}

.head-1 {
  font-family: "marvel";
  font-weight: bold;
  color: #e8eddf;
  padding: 50px;
  text-align: center;
  margin: 30px;
  padding: 0px;
}

/* .products {
  display: flex;
  flex-direction: column;
  background-color: #333533;
} */

.photo {
  /* flex: 1; */
  position: relative;
}

.photo-price {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 15px;
  position: relative;
  align-self: center;
  background-color: #333533;
}

.price {
  background-color: #ffc000;
  color: #242423;
  font-size: 20px;
  padding: 8px;
  border: solid 2px #242423;
  border-radius: 50%;
  position: absolute;
  right: 10%;
  bottom: 20%;
  flex-grow: 0;
}

.info-products {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  background-color: #333533;
}

.head-3 {
  font-family: "Antonio";
  font-style: normal;
  margin: 0px;
  color: #333533;
  /* background-color: #cfdbd5; */
}

.buy-products {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.quantity-container {
  width: 108px;
  height: auto;
}
.quantity-container,
.extras-container,
.notes-container {
  display: flex;
  justify-content: space-between;
  width: 70%;
  background-color: #cfdbd5;
  padding: 5px;
  margin: 10px 0px;
  text-align: center;
  align-self: center;
}

.quantity-container {
  flex-direction: row;
  max-width: 336px;
}

.quantity-selector {
  display: flex;
  flex-direction: row;
  border: #333533 solid 3px; /*#e8eddf solid 2px;*/
  border-radius: 8px;
  width: 100px;
  justify-content: space-between;
  align-items: center;
  background-color: #333533; /*#e8eddf;*/
}

.extras-container,
.notes-container {
  flex-direction: column;
  max-width: 336px;
}

.extras-selector,
.notes-selector {
  display: flex;
  flex-direction: column;
  border: #cfdbd5 solid 4px;
  border-radius: 8px;
  width: 100%;
  justify-content: space-between;
  background-color: #e8eddf;
  color: #333533;
  text-align: center;
  align-self: center;
}

.extras-selector:hover,
.notes-selector:hover {
  /* background: #ffc000; */
  box-shadow: 0 0 10px #333533;
  /* border: #ffc000 solid 3px; */
}

.extras-selector label,
.extras-selector input {
  color: #333533;
}

.extras-selector div {
  display: flex;
  justify-content: space-between;
}

.notes-selector input {
  color: #333533;
  width: 100%;
  height: 80px;
  text-align: justify;
}

.buttons {
  text-align: center;
  /* background-color: #e8eddf; */
  color: #333533;
  width: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.buttons:hover {
  background: #ffc000;
  box-shadow: 0 0 11px #333533;
  border: #ffc000 solid 1px;
  border-radius: 50%;
  font-weight: 600;
}

/* .boton-mas-menos :hover {
  background-color: #ffc000;
  font-weight: 600;
} */

.quantity-viewer {
  text-align: center;
  /* background-color: #e8eddf; */
  color: #333533;
  width: 40px;
}

.description-products {
  align-self: center;
  padding: 5px;
  background-color: #333533;
}

.boton-agregar-al-carrito {
  background-color: #ffc000;
  color: #242423;
  font-size: 20px;
  padding: 8px;
  border: solid 2px #ffc000;
  border-radius: 10px;
  align-self: center;
  text-align: center;
  margin: 10px;
  width: unset;
}

.boton-agregar-al-carrito:hover {
  font-weight: 550;
  box-shadow: 0 0 11px #cfdbd5;
}

@media (min-width: 480px) {
  .products {
    max-width: 800px;
  }
  /* .buy-products {
    position: relative;
    height: 250px;
  }
  .quantity-container,
  .extras-container,
  .notes-container,
  .boton-agregar-al-carrito {
    position: absolute;
    width: 40%;
  }
  .quantity-container {
    top: 10px;
    left: 10px;
  }
  .extras-container {
    top: 80px;
    left: 10px;
  }
  .notes-container {
    top: 80px;
    right: 10px;
  }
  .boton-agregar-al-carrito {
    top: 10px;
    right: 10px;
  } */
}

/* Para que funcionen el header y footer */
/* h1.monkey {
  padding: 0;
  margin: 0px;
}

header h4,
.gourmet {
  color: #e8eddf;
  background-color: #333533;
}
header h4,
header .boton h4 a {
  background-color: #ffc000;
}

li h4 {
  background-color: #242423;
  padding: 0px;
}

header h4 {
  padding: 0px;
}

main h1 {
  padding: 50px;
} */
