/* Colores:
Gris oscuro: #CFDBD5 
Gris claro: #E8EDDF 
Amarillo: #FFC000 
Negro: #242423
Negro claro: #333533 */

* {
  font-family: "Antonio";
  font-style: normal;
}

body {
  background-color: #242423;
}

button {
  background-color: #ffc000;
  border: 2px #242423 solid;
  border-radius: 15px;
  width: 100px;
  color: #333533;
  flex-grow: 1;
  margin: 20px;
}

button a {
  text-decoration: none;
  color: #333533;
}

.button:hover {
  box-shadow: 0 0 11px #e8eddf;
  font-weight: 900;
}
h1 {
  color: #e8eddf;
  text-align: center;
  font-family: "marvel";
}

h4 {
  color: #e8eddf;
}

.campo {
  color: #333533;
  background-color: #e8eddf;
  border-radius: 5px;
  margin: 10px;
  padding: 5px;
  flex-direction: row;
}

.editar-producto {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: auto;
  background-color: #333533;
  padding: 10px;
}

.nuevo-producto {
  text-align: end;
  margin-right: 10%;
  margin-bottom: 15px;
}

.button-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.campo-completar {
  background-color: #e8eddf;
  border: none;
  width: 95%;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 2.5%;
  margin-right: 5px 2.5%;
  border: solid 2px transparent;
  border-radius: 5px;
}
.campo-completar:hover {
  border-color: #ffc000;
}

label {
  padding: 5px;
}

.campo-eliminar {
  color: #333533;
  background-color: #e8eddf;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 2.5%;
  margin-right: 2.5%;
  padding: 5px;
  display: flex;
}

.actualizar-foto {
  background-color: #e8eddf;
  border: none;
  width: 95%;
  margin: 10px;
  border-radius: 5px;
  padding:5px;
}
