* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    background-color: #242423;
  }

h1.sesion{
color: #ffc000;
text-align: center;
margin-bottom: 7%;
}


label{
    color: #ffc000;
}

.input-user input{
    background-color: white;
    width:45%;
    height: 30px;
    border: 3px black solid;
    border-radius: 10px;
}


.input-user{
    text-align: center;
    margin: 10px 25px 25px;
}
.logo-body{
    float: right;
    width: 150px;
    height: 150px;
}

.input-password{
    text-align: center;
    margin: 10px 25px 25px;
}

#boton{
    background-color: #ffc000;
    width: 150px;
    height: 30px;
    border: black 2px solid;
    border-radius: 10px;
}

.input-password input{
    background-color: white;
    width:45%;
    height: 30px;
    border: 3px black solid;
    border-radius: 10px;
}

div.boton{
    text-align: center;
    margin: 15px 25px;
}
.opciones{
    text-align: center;
}

.restablecer-contra{
    padding: 1px 10%;
    text-align: center;
}
.crear-usuario{
    padding: 1px 10% ;
    text-align: center;
}

span.restablecer-contra a{
    text-decoration: none;
    color: #ffc000;
}
span.crear-usuario a{
    text-decoration: none;
    color: #ffc000;
}
