@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@100;700&family=Marvel:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --gris-oscuro: #cfdbd5;
  --gris-claro: #e8eddf;
  --amarillo: #ffc000;
  --negro-humo: #333533;
  --negro-carbon: #242423;
}

/*CEntrar información.*/

header,
body,
main,
footer {
  margin: auto;
  color: var(--negro-carbon);
  background-color: var(--negro-carbon);
}
/*Marvel Bold - Esta fuente se utilizará para el logo.*/
h1 {
  font-family: "Marvel", sans-serif;
  color: var(--gris-claro);
}

/*Antonio Bold – Esta fuente se utilizará para los títulos.*/

h2,
h3,
h4,
h5,
h6 {
  font-family: "Antonio", sans-serif;
  color: var(--gris-claro);
}

/*Antonio Thin – Eta fuente se utilizará para los textos.*/

p {
  font-family: "Antonio", sans-serif;
  color: var(--gris-claro);
}

/*Quitar estilos de listas a los menúes.*/

nav ul {
  list-style: none;
}

/*Quitar estilos de hipervínculos a los enlaces.*/

nav ul li a {
  text-decoration: none;
  color: unset;
}

/*Manejar bloques en líneas todas las cajas de la cabecera.*/

/*.cabecera {
  display: flex;
  justify-content: space-between;
}*/

/*Manejar la barra con display flex queda mejor.*/
header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 2px var(--negro-humo) solid;
  padding: 5px;
  position: fixed;
  top: 0px;
  z-index: 100;
  width: 100%;
  height: 50px;
}
.cabecera-izquierda,
.cabecera-centro,
.cabecera-derecha {
  display: flex;
  margin: auto;
  height: 100%;
}
.cabecera-izquierda {
  width: 20%;
}
.cabecera-centro {
  width: 60%;
  flex-direction: column;
}

.cabecera-derecha {
  width: 20%;
}

/*Dimensionar el logo al 20% de la pantalla*/
.cabecera-logo-mobile {
  height: 100%;
  width: 100%;
  margin: auto;
}
.cabecera-logo-laptop {
  height: 100%;
  width: 100%;
  margin: auto;
}
.cabecera-logo-mobile a,
.cabecera-logo-laptop a {
  text-decoration: none;
  color: unset;
}
.mobile {
  display: flex;
}
.laptop {
  display: none;
}
/*Logo ocupar el contenedor*/
.cabecera-logo-mobile img {
  height: 110%;
  width: 67%;
  object-fit: cover;
  margin: auto;
  overflow: hidden;
}
/*Deshabilitar cabecera*/
.marca,
.compra,
.usuario {
  display: none;
}

/*Menú para dispositivos móviles*/
.cabecera-mobile,
.cerrar-navegacion,
.carrito {
  display: flex;
  font-size: 16px;
  margin: auto;
}
.cabecera-mobile a,
.cerrar-navegacion a,
.carrito a {
  text-decoration: none;
  color: var(--gris-claro);
}
.barra-navegacion {
  position: relative;
  padding: 5px;
  background-color: var(--negro-humo);
  border-radius: 2%;
}
.barra-navegacion li {
  padding: 5%;
  margin-left: 20px;
}
.cabecera-barra {
  position: fixed;
  top: 0px;
  left: 1%;
  width: 98%;
  opacity: 0;
  visibility: hidden;
  padding: 2%;
  pointer-events: none;
  transition: all 2s;
}
.cerrar-navegacion {
  position: fixed;
  top: 70px;
  left: 25px;
  z-index: 99;
}
#modal-navegacion:target {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
  top: 50px;
}

/*Manejar la barra con display flex queda mejor.*/
main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  margin-top: 50px;
}
/*Main*/
/*Carrete*/
.carrete {
  width: 90vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
  margin: 10px auto;
  position: relative;
}
.imagenes-carrete {
  display: flex;
  justify-content: center;
  width: 100%;
  object-fit: cover;
  align-items: center;
  overflow: hidden;
  z-index: 1;
}
.imagenes-carrete img {
  width: 100%;
  height: auto;
}
.botones-carrete {
  display: none;
}
.posicion {
  display: none;
}
/*Novedades*/
.novedades {
  width: 90vw;
  /*border: 1px solid var(--gris-oscuro);*/
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin: 10px auto;
}
.noticias,
.destacados {
  display: flex;
  /*width: inherit;*/
  justify-content: space-around;
  flex-direction: column;
  border-top: 1px var(--gris-oscuro) solid;
  background-color: var(--negro-humo);
  margin: 10px auto;
}
.foto {
  /*width: inherit;*/
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.foto img {
  width: 100%;
}
.foto,
.texto {
  padding: 10px;
}
/*Manejar la barra con display flex queda mejor.*/
footer {
  display: flex;
  width: 90vw;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px auto;
  border-top: 2px var(--negro-humo) solid;
}
/*iconos a las redes.*/

.pie-pagina {
  display: flex;
  justify-content: space-around;
}
.pie-pagina p {
  padding: 2px;
}

/*links de contactos.*/

.pie-navegacion ul {
  display: none;
}
/*desarrolladores*/
.desarrolladores {
  display: none;
}

/*Dispositivos tabletas*/
@media (min-width: 480px) {
  header {
    height: 105px;
  }
  main {
    margin-top: 105px;
  }
  .cabecera-izquierda {
    flex-direction: column;
    align-items: stretch;
  }
  .cabecera-centro {
    flex-direction: column;
    align-items: stretch;
  }
  .cabecera-derecha {
    flex-direction: column;
    align-items: center;
  }
  .laptop {
    display: flex;
    width: 100%;
  }
  .mobile,
  .carrito,
  .cabecera-logo-mobile,
  .cerrar-navegacion {
    display: none;
  }
  .cabecera-logo-laptop {
    display: flex;
    max-width: 70px;
    margin: auto;
  }
  .marca {
    display: flex;
    flex-direction: column;
  }
  .marca h1,
  .marca h3 {
    width: 200px;
    text-align: center;
  }
  .cabecera-barra {
    display: flex;
    padding-top: 10px;
    justify-content: flex-end;
    position: relative;
    top: unset;
    left: unset;
    opacity: 1;
    visibility: visible;
    padding: 0;
  }

  /*Manejar como bloques en líneas la barra de navegación.*/
  .barra-navegacion {
    max-width: 360px;
    background-color: unset;
    padding: 0;
  }
  .barra-navegacion ul {
    display: flex;
    justify-content: space-around;
  }
  .barra-navegacion ul li {
    padding: 2px;
    margin: 0;
  }
  /*botones de la derecha*/
  .compra,
  .usuario {
    display: flex;
    flex-direction: column;
    /*padding: 5px;*/
    width: 100px;
  }
  button {
    background-color: var(--amarillo);
    border: 2px var(--negro-carbon) solid;
    border-radius: 15px;
    padding: 5px;
    width: 100px;
  }

  button a {
    text-decoration: none;
    color: var(--negro-carbon);
  }

  .boton:hover,
  .pedi:hover,
  .carrito:hover {
    box-shadow: 0 0 11px #e8eddf;
    font-weight: 600;
  }

  .cabecera-mobile {
    display: none;
  }
  .carrito {
    font-size: 20px;
    margin: auto;
    color: var(--gris-claro);
  }

  .imagenes-carrete {
    max-height: 400px;
  }
  .botones-carrete {
    display: flex;
    width: 100%;
    z-index: 2;
  }
  .izquierda {
    position: absolute;
    left: 5vw;
    top: 50%;
    font-size: 30px;
    color: var(--gris-claro);
  }
  .derecha {
    position: absolute;
    right: 5vw;
    top: 50%;
    font-size: 30px;
    color: var(--gris-claro);
  }
  .pedi {
    position: absolute;
    right: 1vw;
    top: 30%;
    border: 2px var(--negro-carbon) solid;
    border-radius: 15px;
    background-color: var(--amarillo);
    padding: 10px;
  }
  .pedi a {
    text-decoration: none;
    color: var(--negro-carbon);
  }
  .posicion {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100vw;
    padding: 2px;
  }
  .bolas {
    margin: 0px 2px;
    font-size: 10px;
  }
  /*novedades*/
  .noticias {
    justify-content: space-around;
    flex-direction: row;
  }
  .destacados {
    justify-content: space-around;
    flex-direction: row-reverse;
  }
  .foto {
    max-width: 300px;
    max-height: 300px;
  }
  /*footer mejorado*/
  footer {
    justify-content: space-around;
  }

  /*links de contactos.*/

  .pie-navegacion ul {
    display: flex;
    justify-content: space-between;
  }
  .pie-navegacion ul li {
    margin: 0px 5px;
  }
  /*desarrolladores*/
  .desarrolladores {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  .desarrolladores p {
    font-size: 0.5em;
  }
}

/*Dispositivos laptop*/
/*Dispositivos tabletas*/
@media (min-width: 840px) {
  header,
  body,
  footer,
  .carrete,
  .novedades,
  .noticias,
  .destacados {
    max-width: 1200px;
  }
  .cabecera-izquierda {
    width: 20%;
  }
  .cabecera-centro {
    width: 65%;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
  }
  .cabecera-derecha {
    width: 15%;
  }
  .laptop {
    height: 100%;
    width: unset;
  }
  .imagenes-carrete {
    max-height: 600px;
  }
  .barra-navegacion ul li {
    padding: 2px 7px;
  }
  .izquierda,
  .derecha {
    font-size: 50px;
  }
  .pedi {
    padding: 10px;
  }
}
