@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@100;700&family=Marvel:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --gris-oscuro: #cfdbd5;
  --gris-claro: #e8eddf;
  --amarillo: #f5cb5c;
  --negro-humo: #333533;
  --negro-carbon: #242423;
}

/*CEntrar información.*/

header,
body,
main,
footer {
  margin: auto;
  color: var(--negro-carbon);
}
/*Marvel Bold - Esta fuente se utilizará para el logo.*/

h1 {
  font-family: "Marvel", sans-serif;
}

/*Antonio Bold – Esta fuente se utilizará para los títulos.*/

h2,
h3,
h4,
h5,
h6 {
  font-family: "Antonio", sans-serif;
}

/*Antonio Thin – Eta fuente se utilizará para los textos.*/

p {
  font-family: "Antonio", sans-serif;
}

/*Quitar estilos de listas a los menúes.*/

nav ul {
  list-style: none;
}

/*Quitar estilos de hipervínculos a los enlaces.*/

nav ul li a {
  text-decoration: none;
  color: var(--negro-carbon);
}

/*Manejar bloques en líneas todas las cajas de la cabecera.*/

/*.cabecera {
  display: flex;
  justify-content: space-between;
}*/

/*Manejar la barra con display flex queda mejor.*/
header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
}
.cabecera-centro,
.cabecera-derecha {
  display: flex;
  margin: auto;
  width: 100%;
}
/*Dimensionar el logo al 20% de la pantalla*/
.cabecera-logo {
  width: 100%;
  margin: auto;
}
.cabecera-logo .mobile {
  display: flex;
}
.cabecera-logo .laptop {
  display: none;
}
/*Logo ocupar el contenedor*/
.cabecera-logo img {
  width: 100%;
  object-fit: contain;
}
/*Deshabilitar cabecera*/
.marca,
.compra,
.usuario,
.cabecera-barra {
  display: none;
}

/*Menú para dispositivos móviles*/
.cabecera-mobile {
  display: flex;
  font-size: 10vw;
  margin: auto;
}
.cabecera-mobile a {
  text-decoration: none;
  color: var(--negro-carbon);
}
/*Manejar la barra con display flex queda mejor.*/
main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}
/*Main*/
/*Carrete*/
.carrete {
  width: 90vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
  margin: 10px auto;
  position: relative;
}
.imagenes-carrete {
  display: flex;
  justify-content: center;
  width: 100%;
  object-fit: cover;
  align-items: center;
  overflow: hidden;
  z-index: 1;
}
.imagenes-carrete img {
  width: 100%;
  height: auto;
}
.botones-carrete {
  display: none;
}
.posicion {
  display: none;
}
/*Novedades*/
.novedades {
  width: 90vw;
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin: 10px auto;
}
.noticias,
.destacados {
  display: flex;
  width: inherit;
  justify-content: space-around;
  flex-direction: column;
  border-top: 1px var(--gris-oscuro) solid;
}
.foto {
  width: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.foto img {
  width: 100%;
}
.foto,
.texto {
  padding: 10px;
}
/*Manejar la barra con display flex queda mejor.*/
footer {
  display: flex;
  width: 90vw;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px auto;
  border-top: 2px black solid;
}
/*iconos a las redes.*/

.pie-pagina {
  display: flex;
  justify-content: space-around;
}
.pie-pagina p {
  padding: 2px;
}

/*links de contactos.*/

.pie-navegacion ul {
  display: none;
}
/*desarrolladores*/
.desarrolladores {
  display: none;
}

/*Dispositivos tabletas*/
@media (min-width: 480px) {
  .cabecera-logo {
    width: 20%;
  }
  .cabecera-centro {
    width: 60%;
    flex-direction: column;
    align-items: stretch;
  }
  .cabecera-derecha {
    width: 20%;
    flex-direction: column;
    align-items: center;
  }

  .cabecera-logo .mobile {
    display: none;
  }
  .cabecera-logo .laptop {
    display: flex;
    max-width: 70px;
    margin: auto;
  }
  .marca {
    display: flex;
    flex-direction: column;
  }
  .marca h1,
  .marca h3 {
    width: 200px;
    text-align: center;
  }
  .cabecera-barra {
    display: flex;
    padding-top: 10px;
    justify-content: flex-end;
  }
  /*Manejar como bloques en líneas la barra de navegación.*/
  .barra-navegacion {
    max-width: 360px;
  }
  .barra-navegacion ul {
    display: flex;
    justify-content: space-around;
  }
  .barra-navegacion ul li {
    padding: 2px;
  }
  /*botones de la derecha*/
  .compra,
  .usuario {
    display: flex;
    flex-direction: column;
    padding: 5px;
    width: 90px;
  }
  button a {
    text-decoration: none;
    color: var(--negro-carbon);
  }
  .cabecera-mobile {
    display: none;
  }
  .carrito {
    font-size: 20px;
    margin: auto;
  }
  .imagenes-carrete {
    max-height: 400px;
  }
  .botones-carrete {
    display: flex;
    width: 100%;
    z-index: 2;
  }
  .izquierda {
    position: absolute;
    left: 5vw;
    top: 50%;
    font-size: 30px;
    color: var(--gris-claro);
  }
  .derecha {
    position: absolute;
    right: 5vw;
    top: 50%;
    font-size: 30px;
    color: var(--gris-claro);
  }
  .pedi {
    position: absolute;
    right: 1vw;
    top: 30%;
    border: 2px black solid;
    border-radius: 5px;
    background-color: var(--amarillo);
    padding: 4px 2px;
  }
  .pedi a {
    text-decoration: none;
    color: var(--negro-carbon);
  }
  .posicion {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100vw;
    padding: 2px;
  }
  .bolas {
    margin: 0px 2px;
    font-size: 10px;
  }
  /*novedades*/
  .noticias {
    justify-content: space-around;
    flex-direction: row;
  }
  .destacados {
    justify-content: space-around;
    flex-direction: row-reverse;
  }
  .foto {
    max-width: 300px;
    max-height: 300px;
  }
  /*footer mejorado*/
  footer {
    justify-content: space-around;
  }

  /*links de contactos.*/

  .pie-navegacion ul {
    display: flex;
    justify-content: space-between;
  }
  .pie-navegacion ul li {
    margin: 0px 5px;
  }
  /*desarrolladores*/
  .desarrolladores {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  .desarrolladores p {
    font-size: 0.5em;
  }
}

/*Dispositivos laptop*/
/*Dispositivos tabletas*/
@media (min-width: 840px) {
  header,
  body,
  footer,
  .carrete,
  .novedades {
    max-width: 1200px;
  }
  .imagenes-carrete {
    max-height: 600px;
  }
  .barra-navegacion ul li {
    padding: 2px 10px;
  }
  .izquierda,
  .derecha {
    font-size: 50px;
  }
  .pedi {
    padding: 10px;
  }
}
