@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@100;700&family=Marvel:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --gris-oscuro: #cfdbd5;
  --gris-claro: #e8eddf;
  --amarillo: #f5cb5c;
  --negro-humo: #333533;
  --negro-carbon: #242423;
}

/*CEntrar información.*/

header,
body,
footer {
  margin: auto;
  color: var(--negro-carbon);
}

/*Marvel Bold - Esta fuente se utilizará para el logo.*/

h1 {
  font-family: "Marvel", sans-serif;
}

/*Antonio Bold – Esta fuente se utilizará para los títulos.*/

h2,
h3,
h4,
h5,
h6 {
  font-family: "Antonio", sans-serif;
}

/*Antonio Thin – Eta fuente se utilizará para los textos.*/

p {
  font-family: "Antonio", sans-serif;
}

/*Quitar estilos de listas a los menúes.*/

nav ul {
  list-style: none;
}

/*Quitar estilos de hipervínculos a los enlaces.*/

nav ul li a {
  text-decoration: none;
  color: var(--negro-carbon);
}

/*Manejar bloques en líneas todas las cajas de la cabecera.*/

/*.cabecera {
  display: flex;
  justify-content: space-between;
}*/

/*Manejar la barra con display flex queda mejor.*/
header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
}
.cabecera-centro,
.cabecera-derecha {
  display: flex;
  margin: auto;
  width: 100%;
}
/*Dimensionar el logo al 20% de la pantalla*/
.cabecera-logo {
  width: 100%;
  margin: auto;
}
.cabecera-logo .mobile {
  display: flex;
}
.cabecera-logo .laptop {
  display: none;
}
/*Logo ocupar el contenedor*/
.cabecera-logo img {
  width: 100%;
  object-fit: contain;
}
/*Deshabilitar cabecera*/
.marca,
.compra,
.usuario,
.cabecera-barra {
  display: none;
}
/*Menú para dispositivos móviles*/
.cabecera-mobile {
  display: flex;
  font-size: 10vw;
  margin: auto;
}

/*Manejar bloques en líneas todas las cajas de la cabecera.*/

.pie-pagina {
  display: inline-block;
}

/*Manejar como bloques en líneas la barra de navegación.*/

.pie-navegacion ul li {
  display: inline-block;
}

/*Dispositivos tabletas*/
@media (min-width: 480px) {
  .cabecera-logo {
    width: 20%;
  }
  .cabecera-centro {
    width: 60%;
    flex-direction: column;
    align-items: stretch;
  }
  .cabecera-derecha {
    width: 20%;
    flex-direction: column;
    align-items: center;
  }

  .cabecera-logo .mobile {
    display: none;
  }
  .cabecera-logo .laptop {
    display: flex;
    max-width: 70px;
    margin: auto;
  }
  .marca {
    display: flex;
    flex-direction: column;
  }
  .cabecera-barra {
    display: flex;
    padding-top: 10px;
    justify-content: flex-end;
  }
  /*Manejar como bloques en líneas la barra de navegación.*/
  .barra-navegacion {
    max-width: 360px;
  }
  .barra-navegacion ul {
    display: flex;
    justify-content: space-around;
  }
  .barra-navegacion ul li {
    padding: 2px;
  }

  /*botones de la derecha*/

  .compra,
  .usuario {
    display: flex;
    flex-direction: column;
    padding: 5px;
    width: 90px;
  }
  button a {
    text-decoration: none;
    color: var(--negro-carbon);
  }
  .cabecera-mobile {
    display: none;
  }
  .carrito {
    font-size: 20px;
    margin: auto;
  }
}

/*Dispositivos laptop*/
/*Dispositivos tabletas*/
@media (min-width: 840px) {
  header,
  body,
  footer {
    max-width: 1200px;
  }
  .barra-navegacion ul li {
    padding: 2px 10px;
  }
}
