<footer>
    <!--Redes sociales-->
    <div class="pie-pagina">
      <p><i class="fa-brands fa-facebook"></i></p>
      <p><i class="fa-brands fa-instagram"></i></p>
      <p><i class="fa-brands fa-whatsapp"></i></p>
    </div>
    <!--Enlaces-->
    <div class="pie-pagina">
      <nav class="pie-navegacion">
        <ul>
          <li>
            <h5><a href="#">POLITICA</a></h5>
          </li>
          <li>
            <h5><a href="#">DEFENSA AL CONSUMIDOR</a></h5>
          </li>
          <li>
            <h5><a href="#">PROTECCION DE DATOS</a></h5>
          </li>
          <li>
            <h5><a href="#">CONTACTANOS</a></h5>
          </li>
        </ul>
      </nav>
    </div>
    <div class="desarrolladores"><p>Desarrolladores DH</p></div>
  </footer>