  <!--Encabezado de la página web.
    En este espacio deberá colocarse: 
    - El logo de la empresa.
    - Nombre de la empresa.
    - Menú de navegación.
    - Sección para el carrito y Login.-->
    <header>
        <!--Contenedor para el logo-->
        <div class="cabecera-izquierda">
          <!--Barra de navegación mobile-->
          <div class="cabecera-mobile">
            <a href="#modal-navegacion"><i class="fa-solid fa-bars"></i></a>
          </div>
          <!--Logo laptop-->
          <div class="cabecera-logo-laptop">
            <a href="/">
              <img
                src="/img/Isotipo-amarillo-fondotransparente-inv3.png"
                alt="Logo"
                class="laptop"
            /></a>
          </div>
        </div>
        <!--Cabecera central-->
        <div class="cabecera-centro">
          <!-- Contenedor para el nombre de la empresa-->
          <div class="marca">
            <h1>MONKEY BURGER</h1>
            <h3>HAMBURGUESAS GOURMET</h3>
          </div>
          <div class="cabecera-logo-mobile">
            <a href="/">
              <img
                src="/img/imagotipo-negro-fondo-transparente-inv3.png"
                alt="Logo"
                class="mobile"
              />
            </a>
          </div>
          <!--Contenedor para la barra de navegación-->
          <div id="modal-navegacion" class="cabecera-barra">
            <div class="cerrar-navegacion">
              <a href="/"><i class="fa-solid fa-xmark"></i></a>
            </div>
            <nav class="barra-navegacion">
              <ul>
                <li>
                  <h4><a href="about">NOSOTROS</a></h4>
                </li>
                <li>
                  <h4><a href="menu">MENÚ</a></h4>
                </li>
                <li>
                  <h4><a href="order">HACE TU PEDIDO</a></h4>
                </li>
                <li>
                  <h4><a href="contact">CONTACTO</a></h4>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <!--Cabecera derecha-->
        <div class="cabecera-derecha">
          <!--Contenedor para el usuario-->
          <div class="usuario">
            <!--<nav>
              <ul>
                <li>
                  <h4><a href="#">INICIAR SESIÓN</a></h4>
                </li>
                <li>
                  <h4><a href="register.html">CREAR CUENTA</a></h4>
                </li>
              </ul>
            </nav>-->
            <button class="boton">
              <h4><a href="login">INICIAR SESIÓN</a></h4>
            </button>
            <button class="boton">
              <h4><a href="register">CREAR CUENTA</a></h4>
            </button>
          </div>
          <!--Contenedor para el carrito de compras-->
          <div class="carrito">
            <a href="cart"><i class="fa-solid fa-cart-shopping"></i></a>
          </div>
          <div class="compra">
            <!--<img src="/img/bolsa.png" alt="Bolsa de compras" width="40px" />-->
            <button class="boton">
              <h4><a href="cart">CARRITO</a></h4>
            </button>
          </div>
        </div>
      </header>