<header>
  <!--Contenedor para el logo-->
  <div class="top-header">
    <!--mobile: hamburger menu, brand, buy cart-->
    <div class="hamburger-menu">
      <!--cabecera-mobile -->
      <a href="#modal-nav"><i class="fa-solid fa-bars"></i></a>
      <!--modal-navegacion -->
    </div>
    <div class="brand-max">
      <a href="/">
        <img
          src="/img/Isotipo-fondotransparente.png"
          alt="Logo"
          class="brand-logo-max"
      /></a>
    </div>
    <div class="brand">
      <!--marca -->
      <a href="/"><h1 class="brand-name">MONKEY BURGER</h1></a>
      <a href="/"><h2 class="brand-type">HAMBURGUESAS GOURMET</h2></a>
      <a href="/">
        <img
          src="/img/imagotipo-negro-fondo-transparente-inv3.png"
          alt="Logo"
          class="brand-logo"
      /></a>
    </div>
    <div class="buy-cart">
      <a href="/cart/items"><i class="fa-solid fa-cart-shopping"></i></a>
    </div>
  </div>
  <div class="bottom-header">
    <div id="modal-nav" class="header-bar">
      <!--modal-navegacion, cabecera-barra -->
      <nav class="nav-bar">
        <div class="close-nav">
          <!--cerrar-navegacion -->
          <a href="/"><i class="fa-solid fa-xmark"></i></a>
        </div>
        <!--barra-navegacion -->
        <ul class="menu-bar">
          <li>
            <h3 class="menu-text"><a href="/about">NOSOTROS</a></h3>
          </li>
          <li>
            <h3 class="menu-text"><a href="/products/menu">MENÚ</a></h3>
          </li>
          <% if (locals.admin) { %>
          <li>
            <h3 class="menu-text order-visibility">
              <a href="/products/edit">EDITAR PRODUCTO</a>
            </h3>
          </li>
          <li>
            <h3 class="menu-text create-visibility">
              <a href="/products/create">CREAR PRODUCTO</a>
            </h3>
          </li>
          <% } %>
          <li>
            <h3 class="menu-text"><a href="/contact">CONTACTO</a></h3>
          </li>
        </ul>
        <ul class="users-bar">
          <% if (!locals.tieneSesion) { %>
          <li class="users">
            <h4 class="users-text">
              <a href="/users/login">INICIAR SESIÓN</a>
            </h4>
          </li>
          <li class="users">
            <h4 class="users-text">
              <a href="/users/register">CREAR CUENTA</a>
            </h4>
          </li>
          <% } else { %>
          <li class="users">
            <h4 class="users-text">
              <a href="/users/logout">CERRAR SESIÓN</a>
            </h4>
          </li>
          <% } %>
          <li class="buy">
            <h4 class="buy-text"><a href="/cart/items">CARRITO</a></h4>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
