<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head.ejs") %>
       <link rel="stylesheet" href="/css/style-login.css" />
    <title>Bienvenidos a Monkey Burger</title>
    <link rel="icon" href="/img/icono.png" />
  </head>
  <body>
      <%- include("../partials/header.ejs") %>
    <main>
      <h2 class="novedades">INICIAR SESIÓN</h2>
      <!--acá es necesario generar un formulario-->
      <div class="mosaico-login">
        <form class="formulario" action="/LOGIN.HTML" method="POST">
          <label for="usuario"
            ><h5>
              Nombre de usuario/Correo electrónico
              <i class="fa-solid fa-user"></i></h5
          ></label>
          <input type="text" id="usuario" />
          <label for="contrasena"
            ><h5>Contraseña <i class="fa-solid fa-key"></i></h5
          ></label>
          <input type="password" id="contrasena" />
        </form>
        <div class="ingresar">
          <button name="ingresar" type="submit">
            <h4><a href="usuario">INGRESAR</a></h4>
          </button>
        </div>
        <nav class="acciones">
          <ul>
            <li>
              <h6>Restablecer Contraseña</h6>
            </li>
            <li>
              <h6>Crear Nuevo Usuario</h6>
            </li>
          </ul>
        </nav>
      </div>
    </main>
    <%- include("../partials/footer.ejs") %> 
  </body>
</html>
