<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/1f2014748d.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/style-login.css" />
    <title>Bienvenidos a Monkey Burger</title>
    <link rel="icon" href="/img/icono.png" />
  </head>
  <body>
    <header>
      <!--Contenedor para el logo-->
      <div class="top-header">
        <!--mobile: hamburger menu, brand, buy cart-->
        <div class="hamburger-menu">
          <!--cabecera-mobile -->
          <a href="#modal-nav"><i class="fa-solid fa-bars"></i></a>
          <!--modal-navegacion -->
        </div>
        <div class="brand-max">
          <a href="/">
            <img
              src="/img/Isotipo-fondotransparente.png"
              alt="Logo"
              class="brand-logo-max"
          /></a>
        </div>
        <div class="brand">
          <!--marca -->
          <a href="/"><h1 class="brand-name">MONKEY BURGER</h1></a>
          <a href="/"><h2 class="brand-type">HAMBURGUESAS GOURMET</h2></a>
          <a href="/">
            <img
              src="/img/imagotipo-negro-fondo-transparente-inv3.png"
              alt="Logo"
              class="brand-logo"
          /></a>
        </div>
        <div class="buy-cart">
          <a href="productCart"><i class="fa-solid fa-cart-shopping"></i></a>
        </div>
      </div>
      <div class="bottom-header">
        <div id="modal-nav" class="header-bar">
          <!--modal-navegacion, cabecera-barra -->
          <nav class="nav-bar">
            <div class="close-nav">
              <!--cerrar-navegacion -->
              <a href="/"><i class="fa-solid fa-xmark"></i></a>
            </div>
            <!--barra-navegacion -->
            <ul class="menu-bar">
              <li>
                <h3 class="menu-text"><a href="nosotros">NOSOTROS</a></h3>
              </li>
              <li>
                <h3 class="menu-text"><a href="menu">MENÚ</a></h3>
              </li>
              <li>
                <h3 class="menu-text">
                  <a href="haceTuPedido">HACE TU PEDIDO</a>
                </h3>
              </li>
              <li>
                <h3 class="menu-text"><a href="contacto">CONTACTO</a></h3>
              </li>
            </ul>
            <ul class="users-bar">
              <li class="users">
                <h4 class="users-text"><a href="login">INICIAR SESIÓN</a></h4>
              </li>
              <li class="users">
                <h4 class="users-text"><a href="register">CREAR CUENTA</a></h4>
              </li>
              <li class="buy">
                <h4 class="buy-text"><a href="productCart">CARRITO</a></h4>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
    <main>
      <h2 class="novedades">CREAR CUENTA</h2>
      <!--Crear un formulario a partir de esta instancia-->
      <div class="mosaico-login">
        <form class="formulario" action="" method="POST">
          <label for="nombre"
            ><h5>Nombre <i class="fa-solid fa-id-card"></i></h5
          ></label>
          <input type="text" id="nombre" />
          <label for="apellido"
            ><h5>Apellido <i class="fa-solid fa-id-card"></i></h5
          ></label>
          <input type="text" id="apellido" />
          <label for="correo"
            ><h5>Correo electrónico <i class="fa-solid fa-at"></i></h5
          ></label>
          <input type="email" id="correo" />
          <label for="usuario"
            ><h5>Nombre de usuario <i class="fa-solid fa-user"></i></h5
          ></label>
          <input type="text" id="usuario" />
          <label for="telefono"
            ><h5>Número de teléfono <i class="fa-solid fa-phone"></i></h5
          ></label>
          <input type="number" id="telefono" />
          <label for="domicilio"
            ><h5>Domicilio <i class="fa-solid fa-earth-americas"></i></h5
          ></label>
          <input type="text" id="domicilio" />
          <label for="provincia"
            ><h5>
              Localidad / Provincia
              <i class="fa-solid fa-earth-americas"></i></h5
          ></label>
          <input type="text" id="provincia" />
          <label for="postal"
            ><h5>Código Postal <i class="fa-solid fa-envelope"></i></h5
          ></label>
          <input type="number" id="postal" />
          <label for="contrasena"
            ><h5>Contraseña <i class="fa-solid fa-key"></i></h5
          ></label>
          <input type="password" id="contrasena" />
          <label for="confirmar"
            ><h5>Confirmar contraseña <i class="fa-solid fa-key"></i></h5
          ></label>
          <input type="password" id="confirmar" />
        </form>
      </div>
      <div class="ingresar">
        <button name="enviar" type="submit">
          <h4><a href="usuario">ENVIAR</a></h4>
        </button>
      </div>
    </main>
    <%- include("../partials/footer.ejs") %> 
  </body>
</html>
