<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head.ejs") %>
    <link rel="stylesheet" href="/css/style-login.css" />
    <title>Bienvenidos a Monkey Burger</title>
    <link rel="icon" href="/img/icono.png" />
  </head>
  <body>
    <%- include("../partials/header.ejs") %>
    <main>
      <h2 class="novedades">CREAR CUENTA</h2>
      <!--Crear un formulario a partir de esta instancia-->
      <div class="mosaico-login">
        <form class="formulario" action="/users/register" method="POST" 
        enctype="multipart/form-data">
          <label for="nombre"
            ><h5>Nombre <i class="fa-solid fa-id-card"></i></h5
          ></label>
          <input type="text" id="nombre" />
          <label for="apellido"
            ><h5>Apellido <i class="fa-solid fa-id-card"></i></h5
          ></label>
          <input type="text" id="apellido" />
          <label for="correo"
            ><h5>Correo electrónico <i class="fa-solid fa-at"></i></h5
          ></label>
          <input type="email" id="correo" />
          <label for="usuario"
            ><h5>Nombre de usuario <i class="fa-solid fa-user"></i></h5
          ></label>
          <input type="text" id="usuario" />
          <label for="telefono"
            ><h5>Número de teléfono <i class="fa-solid fa-phone"></i></h5
          ></label>
          <input type="number" id="telefono" />
          <label for="domicilio"
            ><h5>Domicilio <i class="fa-solid fa-earth-americas"></i></h5
          ></label>
          <input type="text" id="domicilio" />
          <label for="provincia"
            ><h5>
              Localidad / Provincia
              <i class="fa-solid fa-earth-americas"></i></h5
          ></label>
          <input type="text" id="provincia" />
          <label for="postal"
            ><h5>Código Postal <i class="fa-solid fa-envelope"></i></h5
          ></label>
          <input type="number" id="postal" />
          <label for="imagenPerfil"><h5>Imagen de perfil:</h5></label>
          <input type="file" id="userimage" name="userimage">
          <label for="contrasena"
            ><h5>Contraseña <i class="fa-solid fa-key"></i></h5
          ></label>
          <input type="password" id="contrasena" />
          <label for="confirmar"
            ><h5>Confirmar contraseña <i class="fa-solid fa-key"></i></h5
          ></label>
          <input type="password" id="confirmar" />
        </form>
      </div>
      <div class="ingresar">
        <button name="enviar" type="submit">
          <h4>ENVIAR</h4>
        </button>
      </div>
    </main>
    <%- include("../partials/footer.ejs") %>
  </body>
</html>
